In [1]:
### Using Darts package to generate covariates (of course we can do manually)
from darts.utils.timeseries_generation import datetime_attribute_timeseries, holidays_timeseries, linear_timeseries
from darts import TimeSeries, concatenate
from darts.dataprocessing.transformers import Scaler
from darts.utils.missing_values import fill_missing_values
import darts
print('darts version:', darts.__version__)

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 1000)
from datetime import datetime, timedelta
import shutil

import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

DLNAME='tft_google'
TARGET='rptorder_aov'

## Choosing workspace (which has GPU machine)
DGX=True
Databricks=False
AutoDL=False
Colab=False 
KKlaptop=False
GTX1080=False

## Set working directories 
if GTX1080:
    ### spec: 4x GeForce GTX 1080 Ti
    CURRENT_PATH = '/home/zhaoqi/cbcv'
    READ_DIR = '/home/zhaoqi/cbcv/data/weekly_cohort_sample100_zeromasked'

if DGX:
    ### spec: 8x Tesla V100
    CURRENT_PATH = '/home/jhan405/cbcv/tft_google_ver4/jianlin-tft'
    READ_DIR = f'{CURRENT_PATH}/data/weekly_cohort_data_1000'

if Databricks:
    ### cluster
    pass

if AutoDL:
    CURRENT_PATH = '/root/autodl-tmp/Boston'
    READ_DIR = f'{CURRENT_PATH}/data/weekly_cohort_sample100_zeromasked'


### Set where to save
SAVE_DIR =f'{CURRENT_PATH}/data/preprocessed_data/{DLNAME}/{TARGET}' # where to save prediction results


## Create a new directory if it does not exist
import os
if not os.path.exists(SAVE_DIR):
    os.makedirs(SAVE_DIR)

darts version: 0.20.0

In [2]:
INPUT_CHUNK_LENGTH = 12

## set date range and time unit
TRAIN_START='2017-01-01' # Q1 2017
TEST_START = '2019-04-01' # Q2 2019
TRAIN_START_INPUTCHUNK=(pd.to_datetime(TRAIN_START) - timedelta(days=7*INPUT_CHUNK_LENGTH)).strftime('%Y-%m-%d')
TRAIN_END=(pd.to_datetime(TEST_START) - timedelta(days=1)).strftime('%Y-%m-%d')
TEST_END='2020-02-29' # Before Covid
TEST_END_EXTEND='2020-05-31' # + additional one quarter (for computational issue)

In [3]:
### read filelist
import glob
filelist=glob.glob(f'{READ_DIR}/*') # all paths for data files
filelist.sort()

K_LIST = range(len(filelist))
print(K_LIST)
print(filelist[:5])

range(0, 1075)
['/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1000_jam_city_inc_jam_city_inc_cohort.csv', '/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1001_heritage_dairy_heritage_dairy_cohort.csv', '/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1002_unitedhealth_optumrx_cohort.csv', '/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1003_h_r_block_h_r_diy_cohort.csv', '/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1004_bmw_payments_bmw_payments_cohort.csv']

In [4]:
def read_file(K):

    ## choose company
    COMPANY_NAME = os.path.splitext(os.path.split(filelist[K])[1])[0][:-len('_cohort')]
    FILEPATH = os.path.splitext(os.path.split(filelist[K])[1])[0] + '.csv'
    print('K =', K, ', COMPANY_NAME:', COMPANY_NAME)

    ## read company
    COL_NAMES_TO_READ = ['acq_week', # group identifier
                    'week', 'tenure', # time identifier
                    'spend', 'orders', # target
                    'N_week_cohort', 'acq_quarter', 'merchant_index', 'merchant'] 

    raw_df = pd.read_csv(f'{READ_DIR}/{FILEPATH}') 
                    # usecols=COL_NAMES_TO_READ)[COL_NAMES_TO_READ]

    # create initial spend
    raw_df['initial_order'] = raw_df['orders'] - raw_df['rpt_orders']
    raw_df['initial_spend'] = raw_df['spend'] - raw_df['rpt_spend']

    # aov
    raw_df['aov'] = raw_df['spend'] / raw_df['orders']
    raw_df['initial_aov'] = raw_df['initial_spend'] / raw_df['initial_order']
    raw_df['rpt_aov'] = raw_df['rpt_spend'] / raw_df['rpt_orders']

    # create per customer
    raw_df['orders_per_cust'] = raw_df['orders'] / raw_df['N_week_cohort']
    raw_df['initial_order_per_cust'] = raw_df['initial_order'] / raw_df['N_week_cohort']
    raw_df['rpt_orders_per_cust'] = raw_df['rpt_orders'] / raw_df['N_week_cohort']
    raw_df['spend_per_cust'] = raw_df['spend'] / raw_df['N_week_cohort']
    raw_df['initial_spend_per_cust'] = raw_df['initial_spend'] / raw_df['N_week_cohort']
    raw_df['rpt_spend_per_cust'] = raw_df['rpt_spend'] / raw_df['N_week_cohort']
        
    raw_df = raw_df[['acq_week', 'week', 'tenure', 'acq_quarter', 'N_week_cohort', 'active_users',
            'merchant_index', 'merchant', 'parent_merchant', 'category', 'subcategory',
            'orders', 'initial_order', 'rpt_orders',
            'orders_per_cust', 'initial_order_per_cust', 'rpt_orders_per_cust',
            'spend', 'initial_spend', 'rpt_spend',
            'spend_per_cust', 'initial_spend_per_cust', 'rpt_spend_per_cust',
            'aov', 'initial_aov', 'rpt_aov'
            ]]

    print(raw_df.shape[0], 'rows')
    raw_df.sort_values(['acq_week', 'week'])

    ### fill missing values in AOV = 0/0
    raw_df[['aov', 'initial_aov', 'rpt_aov']] = raw_df[['aov', 'initial_aov', 'rpt_aov']].fillna(method = 'ffill') # propagate non-null values forward

    # ## Define main columns: {group, time, value}
    # raw_df.rename(columns={'acq_week': 'group', 
    #                 'week': 'time', 
    #                 'order_normalized': 'value'}, inplace=True)

    ## limit data time range
    df = raw_df[ (raw_df['acq_week']<=TEST_END) & (raw_df['acq_week']>=TRAIN_START) ]
    df = df[df['week'] <= TEST_END]

    return df

In [5]:
# ### read acq_initspend data
# cov = pd.read_csv(f'{CURRENT_PATH}/data/preprocessed_data/{DLNAME}/acq_initialspend/company_0_100.csv')

# ### extract covariates
# cov_unique = cov[cov.merchant_index==1090][['acq_week', 'year', 'holidays', 'weekofyear', 'linear', 'linear_1']].drop_duplicates()
# cov_unique = cov_unique.sort_values(['acq_week']).reset_index(drop=True)
# cov_unique 

# ### save covariates
# cov_unique = cov_unique.rename({'acq_week':'week'}, axis=1)
# cov_unique.to_csv(f'{CURRENT_PATH}/utils/covariates_df.csv', index=False)

In [6]:
def generate_covariates(df):

    ### load covariates
    cov = pd.read_csv(f'{CURRENT_PATH}/utils/covariates_df.csv')

    ### merge with current cohort-base data
    data_df = df.merge(cov, left_on='week', right_on='week')
    data_df['firm_cohort_id'] = data_df["merchant_index"].astype(str) + "-" + data_df["acq_week"]
    
    return data_df

In [14]:
### for loop
data_df_list = []
for K in K_LIST:
    df = read_file(K)
    
    if (df[df['acq_week']>=TEST_START].shape[0] != 0):
        data_df_list.append(generate_covariates(df))

### combine everything
df_combined = pd.concat(data_df_list).reset_index(drop=True)

# ### for company_0_100.csv, please remove merchant_index=1028, merchant=lyft_bikes_scooters
# indexdrop = df_combined[df_combined['merchant_index'] == 1028].index
# df_combined.drop(indexdrop , inplace=True)

### combine everything
df_combined = df_combined.sort_values(['merchant_index', 'acq_week', 'week'])
df_combined.to_csv(f'{SAVE_DIR}/company_0_1000.csv', index=True) # must allow index

K = 0 , COMPANY_NAME: 1000_jam_city_inc_jam_city_inc
31125 rows
K = 1 , COMPANY_NAME: 1001_heritage_dairy_heritage_dairy
48828 rows
K = 2 , COMPANY_NAME: 1002_unitedhealth_optumrx
48828 rows
K = 3 , COMPANY_NAME: 1003_h_r_block_h_r_diy
48828 rows
K = 4 , COMPANY_NAME: 1004_bmw_payments_bmw_payments
48828 rows
K = 5 , COMPANY_NAME: 1005_west_marine_west_marine
48828 rows
K = 6 , COMPANY_NAME: 1006_unilever_ben_and_jerries
48828 rows
K = 7 , COMPANY_NAME: 1007_albertsons_adjusted_haggen
44850 rows
K = 8 , COMPANY_NAME: 1008_albertsons_adjusted_star_market
48828 rows
K = 9 , COMPANY_NAME: 1009_marriott_gaylord_hotels
48828 rows
K = 10 , COMPANY_NAME: 100_ahold_delhaize_adjusted_giant_landover
48828 rows
K = 11 , COMPANY_NAME: 1010_aldo_aldo
48828 rows
K = 12 , COMPANY_NAME: 1011_carnival_carnival_cruises
48828 rows
K = 13 , COMPANY_NAME: 1012_foodtown_foodtown
48828 rows
K = 14 , COMPANY_NAME: 1013_ross_dd_discount
48828 rows
K = 15 , COMPANY_NAME: 1014_jane_com_jane_com
48828 rows
K = 16 , COMPANY_NAME: 1015_lord_taylor_lord_taylor
48828 rows
K = 17 , COMPANY_NAME: 1016_driven_brands_adjusted_take_5_oil_change
21528 rows
K = 18 , COMPANY_NAME: 1017_tapestry_adjusted_kate_spade
27028 rows
K = 19 , COMPANY_NAME: 1018_rover_rover
48828 rows
K = 20 , COMPANY_NAME: 1019_expedia_adjusted_orbitz
48828 rows
K = 21 , COMPANY_NAME: 101_costco_adjusted_costco_gas
48828 rows
K = 22 , COMPANY_NAME: 1020_nestle_adjusted_ready_refresh
48828 rows
K = 23 , COMPANY_NAME: 1021_bartell_drugs_bartell_drugs
48828 rows
K = 24 , COMPANY_NAME: 1022_vanguard_vanguard
48828 rows
K = 25 , COMPANY_NAME: 1023_juice_plus_juice_plus
48828 rows
K = 26 , COMPANY_NAME: 1024_neiman_marcus_adjusted_neiman_marcus
48828 rows
K = 27 , COMPANY_NAME: 1025_marriott_springhill_suites
48828 rows
K = 28 , COMPANY_NAME: 1026_viasat_viasat
48828 rows
K = 29 , COMPANY_NAME: 1027_coachusa_megabus
48828 rows
K = 30 , COMPANY_NAME: 1028_lyft_adjusted_lyft_bikes_scooters
12880 rows
K = 31 , COMPANY_NAME: 1029_spartannash_d_and_w
48828 rows
K = 32 , COMPANY_NAME: 102_shopify_adjusted_shopify_payments
48828 rows
K = 33 , COMPANY_NAME: 1030_tidal_tidal
48828 rows
K = 34 , COMPANY_NAME: 1031_mbta_mbta
48828 rows
K = 35 , COMPANY_NAME: 1032_zynga_adjusted_zynga
48828 rows
K = 36 , COMPANY_NAME: 1033_playtika_playtika
48828 rows
K = 37 , COMPANY_NAME: 1034_salsarita_salsarita
48828 rows
K = 38 , COMPANY_NAME: 1035_tailored_brands_adjusted_josabank
48828 rows
K = 39 , COMPANY_NAME: 1036_josabank_adjusted_josabank
48828 rows
K = 40 , COMPANY_NAME: 1037_amc_entertainment_adjusted_carmike
34191 rows
K = 41 , COMPANY_NAME: 1038_la_colombe_la_colombe
48828 rows
K = 42 , COMPANY_NAME: 1039_herbalife_herbalife
48828 rows
K = 43 , COMPANY_NAME: 103_restaurant_brands_popeyes
48828 rows
K = 44 , COMPANY_NAME: 1040_davids_bridal_davids_bridal
48828 rows
K = 45 , COMPANY_NAME: 1041_disney_magic_kingdom
48828 rows
K = 46 , COMPANY_NAME: 1042_proactiv_proactiv
48828 rows
K = 47 , COMPANY_NAME: 1043_pancheros_pancheros
48828 rows
K = 48 , COMPANY_NAME: 1044_bandai_namco_bandai_namco
48828 rows
K = 49 , COMPANY_NAME: 1045_rollins_orkin
48828 rows
K = 50 , COMPANY_NAME: 1046_freshly_freshly
48828 rows
K = 51 , COMPANY_NAME: 1047_electronic_arts_electronic_arts
48828 rows
K = 52 , COMPANY_NAME: 1048_orderup_orderup
48828 rows
K = 53 , COMPANY_NAME: 1049_signet_zales
48828 rows
K = 54 , COMPANY_NAME: 104_planet_fitness_adjusted_planet_fitness
48828 rows
K = 55 , COMPANY_NAME: 1050_great_american_brand_aw
48828 rows
K = 56 , COMPANY_NAME: 1051_smokey_bones_smokey_bones
48828 rows
K = 57 , COMPANY_NAME: 1052_moon_active_moon_active
48828 rows
K = 58 , COMPANY_NAME: 1053_wsdot_good_to_go_wsdot_good_to_go
48828 rows
K = 59 , COMPANY_NAME: 1054_big_fish_games_big_fish_games
48828 rows
K = 60 , COMPANY_NAME: 1055_thrive_market_thrive_market
48828 rows
K = 61 , COMPANY_NAME: 1056_sunglass_hut_sunglass_hut
48828 rows
K = 62 , COMPANY_NAME: 1057_pieology_pieology
48828 rows
K = 63 , COMPANY_NAME: 1058_uno_pizzeria_uno_pizzeria
48828 rows
K = 64 , COMPANY_NAME: 1059_goldman_sachs_marcus_by_gs
37950 rows
K = 65 , COMPANY_NAME: 105_petsmart_adjusted_petsmart
48828 rows
K = 66 , COMPANY_NAME: 1060_collegeboard_collegeboard
48828 rows
K = 67 , COMPANY_NAME: 1061_silver_diner_silver_diner
48828 rows
K = 68 , COMPANY_NAME: 1062_logans_roadhouse_logans_roadhouse
48828 rows
K = 69 , COMPANY_NAME: 1063_ashley_furniture_ashley_furniture
48828 rows
K = 70 , COMPANY_NAME: 1064_nationwide_nationwide_pet
45753 rows
K = 71 , COMPANY_NAME: 1065_jostens_jostens
48828 rows
K = 72 , COMPANY_NAME: 1066_pappadeaux_seafood_pappadeaux_seafood
48828 rows
K = 73 , COMPANY_NAME: 1067_texas_roadhouse_bubbas_33
48828 rows
K = 74 , COMPANY_NAME: 1068_play_it_again_sports_play_it_again_sports
48828 rows
K = 75 , COMPANY_NAME: 1069_coopers_hawk_coopers_hawk
48828 rows
K = 76 , COMPANY_NAME: 106_giant_eagle_getgo
48828 rows
K = 77 , COMPANY_NAME: 1070_sprint_adjusted_virgin_mobile
48827 rows
K = 78 , COMPANY_NAME: 1071_course_hero_course_hero
48828 rows
K = 79 , COMPANY_NAME: 1072_uncle_julios_uncle_julios
48828 rows
K = 80 , COMPANY_NAME: 1073_noom_noom
48516 rows
K = 81 , COMPANY_NAME: 1074_g6_hospitality_motel_6
48828 rows
K = 82 , COMPANY_NAME: 1075_chicos_soma
48828 rows
K = 83 , COMPANY_NAME: 1076_upstart_com_adjusted_upstart_com
48828 rows
K = 84 , COMPANY_NAME: 1077_equifax_equifax
48828 rows
K = 85 , COMPANY_NAME: 1078_harrys_harrys
48828 rows
K = 86 , COMPANY_NAME: 1079_zoom_zoom
48828 rows
K = 87 , COMPANY_NAME: 107_kroger_fuel_adjusted_kroger
48828 rows
K = 88 , COMPANY_NAME: 1080_bargain_hunt_bargain_hunt
48828 rows
K = 89 , COMPANY_NAME: 1081_curology_curology
48828 rows
K = 90 , COMPANY_NAME: 1082_quaker_steak_quaker_steak
48828 rows
K = 91 , COMPANY_NAME: 1083_liberty_expedia_holdings_bodybuilding
48828 rows
K = 92 , COMPANY_NAME: 1084_yapstone_yapstone
33670 rows
K = 93 , COMPANY_NAME: 1085_modells_modells
48828 rows
K = 94 , COMPANY_NAME: 1086_grammarly_grammarly
48828 rows
K = 95 , COMPANY_NAME: 1087_signet_piercing_pagoda
48828 rows
K = 96 , COMPANY_NAME: 1088_wyndham_adjusted_super_8
48828 rows
K = 97 , COMPANY_NAME: 1089_lubys_lubys_cafeteria
48828 rows
K = 98 , COMPANY_NAME: 108_yum_pizza_hut_pizza_hut
48828 rows
K = 99 , COMPANY_NAME: 1090_signet_adjusted_piercing_pagoda
48828 rows
K = 100 , COMPANY_NAME: 1091_visionworks_visionworks
48828 rows
K = 101 , COMPANY_NAME: 1092_mcgraw_hill_mcgraw_hill
48828 rows
K = 102 , COMPANY_NAME: 1093_expressvpn_expressvpn
48828 rows
K = 103 , COMPANY_NAME: 1094_foosacklys_foosacklys
48828 rows
K = 104 , COMPANY_NAME: 1095_tcgplayer_tcgplayer
48828 rows
K = 105 , COMPANY_NAME: 1096_the_joint_the_joint
48828 rows
K = 106 , COMPANY_NAME: 1097_hbc_saks
48828 rows
K = 107 , COMPANY_NAME: 1098_landrys_seafood_saltgrass
48828 rows
K = 108 , COMPANY_NAME: 1099_diamler_ag_mercedes_benz_payments
48828 rows
K = 109 , COMPANY_NAME: 109_panda_express_panda_express
48828 rows
K = 110 , COMPANY_NAME: 1100_expedia_adjusted_hotwire_com
48828 rows
K = 111 , COMPANY_NAME: 110_racetrac_racetrac
48828 rows
K = 112 , COMPANY_NAME: 111_t_mobile_adjusted_t_mobile
48828 rows
K = 113 , COMPANY_NAME: 112_papa_john_papa_john
48828 rows
K = 114 , COMPANY_NAME: 113_grubhub_adjusted_grubhub_seamless
48828 rows
K = 115 , COMPANY_NAME: 114_wakefern_shoprite
48828 rows
K = 116 , COMPANY_NAME: 115_little_caesars_little_caesars
48828 rows
K = 117 , COMPANY_NAME: 116_etsy_inc_hist_seller_fees_etsy_inc_hist_seller_fees
48828 rows
K = 118 , COMPANY_NAME: 117_macy_adjusted_macy
48828 rows
K = 119 , COMPANY_NAME: 118_royal_farms_royal_farms
48828 rows
K = 120 , COMPANY_NAME: 119_wegmans_wegmans
48828 rows
K = 121 , COMPANY_NAME: 11_apple_itunes
48516 rows
K = 122 , COMPANY_NAME: 120_aramark_aramark
48828 rows
K = 123 , COMPANY_NAME: 121_etsy_adjusted_etsy
48828 rows
K = 124 , COMPANY_NAME: 122_autozone_autozone
48828 rows
K = 125 , COMPANY_NAME: 123_gap_adjusted_old_navy
48828 rows
K = 126 , COMPANY_NAME: 124_michaels_adjusted_michaels
48828 rows
K = 127 , COMPANY_NAME: 125_tjx_adjusted_marshalls
48828 rows
K = 128 , COMPANY_NAME: 126_marmaxx_adjusted_marshalls
48828 rows
K = 129 , COMPANY_NAME: 127_amazon_adjusted_kindle
48828 rows
K = 130 , COMPANY_NAME: 128_amazon_ex_whole_foods_adjusted_kindle
48828 rows
K = 131 , COMPANY_NAME: 129_geico_geico
48828 rows
K = 132 , COMPANY_NAME: 12_target_adjusted_target
48516 rows
K = 133 , COMPANY_NAME: 130_redbox_redbox
48828 rows
K = 134 , COMPANY_NAME: 131_bww_adjusted_bww
48828 rows
K = 135 , COMPANY_NAME: 132_caseys_general_store_adjusted_caseys_general_store
48828 rows
K = 136 , COMPANY_NAME: 133_state_farm_state_farm
48828 rows
K = 137 , COMPANY_NAME: 134_hobby_lobby_hobby_lobby
48828 rows
K = 138 , COMPANY_NAME: 135_ross_ross
48828 rows
K = 139 , COMPANY_NAME: 136_dicks_dicks
48828 rows
K = 140 , COMPANY_NAME: 137_loves_loves
48828 rows
K = 141 , COMPANY_NAME: 138_apple_apple_pay_cash
45451 rows
K = 142 , COMPANY_NAME: 139_whataburger_whataburger
48828 rows
K = 143 , COMPANY_NAME: 13_royal_dutch_shell_shell
48516 rows
K = 144 , COMPANY_NAME: 140_amazon_ex_whole_foods_adjusted_audible
48828 rows
K = 145 , COMPANY_NAME: 141_amazon_adjusted_audible
48828 rows
K = 146 , COMPANY_NAME: 142_sprint_adjusted_sprint
48828 rows
K = 147 , COMPANY_NAME: 143_zaxbys_zaxbys
48828 rows
K = 148 , COMPANY_NAME: 144_progressive_progressive
48828 rows
K = 149 , COMPANY_NAME: 145_jcpenney_jcpenney
48828 rows
K = 150 , COMPANY_NAME: 146_alliance_data_comenity
48828 rows
K = 151 , COMPANY_NAME: 147_ulta_ulta
48828 rows
K = 152 , COMPANY_NAME: 148_barnes_noble_adjusted_barnes_noble
48828 rows
K = 153 , COMPANY_NAME: 149_weis_markets_weis_markets
48828 rows
K = 154 , COMPANY_NAME: 150_bath_body_works_bath_body_works
48828 rows
K = 155 , COMPANY_NAME: 151_carls_jr_hardees
48828 rows
K = 156 , COMPANY_NAME: 152_petco_petco
48828 rows
K = 157 , COMPANY_NAME: 153_thorntons_thorntons
48828 rows
K = 158 , COMPANY_NAME: 154_valve_steam_games
48828 rows
K = 159 , COMPANY_NAME: 155_bojangles_bojangles
48828 rows
K = 160 , COMPANY_NAME: 156_siriusxm_siriusxm
48828 rows
K = 161 , COMPANY_NAME: 157_amc_entertainment_adjusted_amc
48828 rows
K = 162 , COMPANY_NAME: 158_five_guys_five_guys
48828 rows
K = 163 , COMPANY_NAME: 159_tractor_supply_adjusted_tractor_supply
48828 rows
K = 164 , COMPANY_NAME: 15_starbucks_adjusted_starbucks
48516 rows
K = 165 , COMPANY_NAME: 160_dineequity_applebee
48828 rows
K = 166 , COMPANY_NAME: 161_brinker_chili
48828 rows
K = 167 , COMPANY_NAME: 162_advance_auto_adjusted_advance_auto
48828 rows
K = 168 , COMPANY_NAME: 163_albertsons_adjusted_albertsons
48828 rows
K = 169 , COMPANY_NAME: 164_unemployment_benefits_unemployment_benefits
48828 rows
K = 170 , COMPANY_NAME: 165_kwik_trip_kwik_trip
48828 rows
K = 171 , COMPANY_NAME: 166_southeastern_grocers_winn_dixie
48828 rows
K = 172 , COMPANY_NAME: 167_kroger_adjusted_fred_meyer
48828 rows
K = 173 , COMPANY_NAME: 168_dineequity_ihop
48828 rows
K = 174 , COMPANY_NAME: 169_robinhood_robinhood
48828 rows
K = 175 , COMPANY_NAME: 170_ez_pass_ez_pass
48828 rows
K = 176 , COMPANY_NAME: 171_afterpay_afterpay
17766 rows
K = 177 , COMPANY_NAME: 172_goodwill_goodwill
48828 rows
K = 178 , COMPANY_NAME: 173_disney_disney
48828 rows
K = 179 , COMPANY_NAME: 174_bed_bath_adjusted_bed_bath
48828 rows
K = 180 , COMPANY_NAME: 175_albertsons_adjusted_jewel_osco
48828 rows
K = 181 , COMPANY_NAME: 176_kroger_ex_fuel_adjusted_king_sooper
48828 rows
K = 182 , COMPANY_NAME: 177_digit_co_digit_co
48828 rows
K = 183 , COMPANY_NAME: 178_kroger_adjusted_king_sooper
48828 rows
K = 184 , COMPANY_NAME: 179_ace_hardware_ace_hardware
48828 rows
K = 185 , COMPANY_NAME: 180_arco_arco
48828 rows
K = 186 , COMPANY_NAME: 181_five_below_five_below
48828 rows
K = 187 , COMPANY_NAME: 182_culvers_culvers
48828 rows
K = 188 , COMPANY_NAME: 183_oreilly_auto_adjusted_oreilly_auto
48828 rows
K = 189 , COMPANY_NAME: 184_jersey_mikes_jersey_mikes
48828 rows
K = 190 , COMPANY_NAME: 185_jackinthebox_jackinthebox
48828 rows
K = 191 , COMPANY_NAME: 186_experian_experian
48828 rows
K = 192 , COMPANY_NAME: 187_cracker_barrel_adjusted_cracker_barrel
48828 rows
K = 193 , COMPANY_NAME: 188_darden_adjusted_olive_garden
48828 rows
K = 194 , COMPANY_NAME: 189_great_clips_great_clips
48828 rows
K = 195 , COMPANY_NAME: 190_couche_tard_adjusted_corner_store
27495 rows
K = 196 , COMPANY_NAME: 191_phillips_66_phillips_66
48828 rows
K = 197 , COMPANY_NAME: 192_irs_payments_adjusted_irs_payments
48828 rows
K = 198 , COMPANY_NAME: 193_instacart_adjusted_instacart_transaction
48828 rows
K = 199 , COMPANY_NAME: 194_raising_canes_raising_canes
48828 rows
K = 200 , COMPANY_NAME: 195_gamestop_gamestop
48828 rows
K = 201 , COMPANY_NAME: 196_kroger_ex_fuel_adjusted_fred_meyer
48828 rows
K = 202 , COMPANY_NAME: 197_big_lots_big_lots
48828 rows
K = 203 , COMPANY_NAME: 198_regal_adjusted_regal_cinemas
48828 rows
K = 204 , COMPANY_NAME: 199_staples_staples
48828 rows
K = 205 , COMPANY_NAME: 200_kroger_adjusted_frys
48828 rows
K = 206 , COMPANY_NAME: 201_qxh_adjusted_qvc
48828 rows
K = 207 , COMPANY_NAME: 202_united_dairy_farmers_united_dairy_farmers
48828 rows
K = 208 , COMPANY_NAME: 203_albertsons_adjusted_acme
48828 rows
K = 209 , COMPANY_NAME: 204_cookout_cookout
48828 rows
K = 210 , COMPANY_NAME: 205_sprouts_sprouts
48828 rows
K = 211 , COMPANY_NAME: 206_ups_ups
48828 rows
K = 212 , COMPANY_NAME: 207_menards_menards
48828 rows
K = 213 , COMPANY_NAME: 208_chewy_adjusted_chewy
48828 rows
K = 214 , COMPANY_NAME: 209_waffle_house_waffle_house
48828 rows
K = 215 , COMPANY_NAME: 20_square_gpv_adjusted_square
48516 rows
K = 216 , COMPANY_NAME: 210_ahold_delhaize_adjusted_stopandshop
48828 rows
K = 217 , COMPANY_NAME: 211_hyvee_hyvee
48828 rows
K = 218 , COMPANY_NAME: 212_facebook_adjusted_facebook_other
48828 rows
K = 219 , COMPANY_NAME: 213_petsmart_adjusted_chewy
28441 rows
K = 220 , COMPANY_NAME: 214_qdoba_qdoba
48828 rows
K = 221 , COMPANY_NAME: 215_youtube_youtube
48828 rows
K = 222 , COMPANY_NAME: 216_tropical_smoothie_tropical_smoothie
48828 rows
K = 223 , COMPANY_NAME: 217_ingles_ingles
48828 rows
K = 224 , COMPANY_NAME: 218_american_airlines_american_airlines
48828 rows
K = 225 , COMPANY_NAME: 219_victorias_secret_victorias_secret
48828 rows
K = 226 , COMPANY_NAME: 21_square_square_cash
48516 rows
K = 227 , COMPANY_NAME: 220_groupon_adjusted_groupon
48828 rows
K = 228 , COMPANY_NAME: 221_olo_com_olo_com
48828 rows
K = 229 , COMPANY_NAME: 222_texas_roadhouse_texas_roadhouse
48828 rows
K = 230 , COMPANY_NAME: 223_kroger_ex_fuel_adjusted_frys
48828 rows
K = 231 , COMPANY_NAME: 224_onlyfans_onlyfans
40470 rows
K = 232 , COMPANY_NAME: 225_duke_energy_duke_energy
48828 rows
K = 233 , COMPANY_NAME: 226_uber_driver_pay_adjusted_uber_driver_pay
48828 rows
K = 234 , COMPANY_NAME: 227_coinbase_coinbase
48828 rows
K = 235 , COMPANY_NAME: 228_cinemark_adjusted_cinemark
48828 rows
K = 236 , COMPANY_NAME: 22_dunkin_adjusted_dunkin
48516 rows
K = 237 , COMPANY_NAME: 230_american_eagle_adjusted_american_eagle
48828 rows
K = 238 , COMPANY_NAME: 231_disney_disney_plus
13203 rows
K = 239 , COMPANY_NAME: 232_restaurant_brands_tim_hortons
48828 rows
K = 240 , COMPANY_NAME: 233_joann_joann
48828 rows
K = 241 , COMPANY_NAME: 234_allstate_allstate
48828 rows
K = 242 , COMPANY_NAME: 235_auntie_annes_auntie_annes
48828 rows
K = 243 , COMPANY_NAME: 236_parkmobile_parkmobile
48828 rows
K = 244 , COMPANY_NAME: 237_academy_sports_academy_sports
48828 rows
K = 245 , COMPANY_NAME: 238_affirm_affirm
48828 rows
K = 246 , COMPANY_NAME: 239_nintendo_nintendo
48828 rows
K = 247 , COMPANY_NAME: 23_7_eleven_adjusted_7_eleven
48516 rows
K = 248 , COMPANY_NAME: 240_biglari_holdings_steak_shake
48828 rows
K = 249 , COMPANY_NAME: 241_tjx_adjusted_home_goods
48828 rows
K = 250 , COMPANY_NAME: 242_home_goods_adjusted_home_goods
48828 rows
K = 251 , COMPANY_NAME: 243_qrtea_adjusted_qvc
21528 rows
K = 252 , COMPANY_NAME: 244_bjs_wholesale_bjs_wholesale
48828 rows
K = 253 , COMPANY_NAME: 245_smoothie_king_smoothie_king
48828 rows
K = 254 , COMPANY_NAME: 246_restaurant_brands_firehouse_subs
48828 rows
K = 255 , COMPANY_NAME: 247_burlington_burlington
48828 rows
K = 256 , COMPANY_NAME: 248_adobe_adobe
48828 rows
K = 257 , COMPANY_NAME: 249_att_directv
48828 rows
K = 258 , COMPANY_NAME: 24_walgreens_walgreens
48516 rows
K = 259 , COMPANY_NAME: 250_amazon_music_amazon_music
35511 rows
K = 260 , COMPANY_NAME: 251_ymca_ymca
48828 rows
K = 261 , COMPANY_NAME: 252_quickchek_quickchek
48828 rows
K = 262 , COMPANY_NAME: 253_postmates_adjusted_postmates
48828 rows
K = 263 , COMPANY_NAME: 254_kum_and_go_kum_and_go
48828 rows
K = 264 , COMPANY_NAME: 255_h_m_h_m
48828 rows
K = 265 , COMPANY_NAME: 256_kroger_adjusted_smiths
48828 rows
K = 266 , COMPANY_NAME: 257_wish_com_wish_com
48828 rows
K = 267 , COMPANY_NAME: 258_moes_southwest_grill_moes_southwest_grill
48828 rows
K = 268 , COMPANY_NAME: 259_eg_group_adjusted_turkey_hill
18528 rows
K = 269 , COMPANY_NAME: 25_walgreens_adjusted_walgreens
48516 rows
K = 270 , COMPANY_NAME: 260_party_city_adjusted_party_city
48828 rows
K = 271 , COMPANY_NAME: 261_sally_beauty_sally_beauty
48828 rows
K = 272 , COMPANY_NAME: 262_facebook_adjusted_facebook_p2p
48828 rows
K = 273 , COMPANY_NAME: 263_xbox_xbox_live_gold
48828 rows
K = 274 , COMPANY_NAME: 264_cumberland_farms_cumberland_farms
48828 rows
K = 275 , COMPANY_NAME: 265_cox_communications_cox_communications
48828 rows
K = 276 , COMPANY_NAME: 266_lvmh_sephora
48828 rows
K = 277 , COMPANY_NAME: 267_irs_payments_adjusted_stimulus_payouts
3916 rows
K = 278 , COMPANY_NAME: 268_adt_adt
48828 rows
K = 279 , COMPANY_NAME: 269_klarna_klarna
48828 rows
K = 280 , COMPANY_NAME: 26_uber_adjusted_uber
48516 rows
K = 281 , COMPANY_NAME: 270_conoco_conoco
48828 rows
K = 282 , COMPANY_NAME: 271_harbor_freight_harbor_freight
48828 rows
K = 283 , COMPANY_NAME: 272_ikea_ikea
48828 rows
K = 284 , COMPANY_NAME: 273_dennys_dennys
48828 rows
K = 285 , COMPANY_NAME: 274_red_robin_red_robin
48828 rows
K = 286 , COMPANY_NAME: 275_forever_21_forever_21
48828 rows
K = 287 , COMPANY_NAME: 276_kroger_ex_fuel_adjusted_smiths
48828 rows
K = 288 , COMPANY_NAME: 277_gnc_adjusted_gnc
48828 rows
K = 289 , COMPANY_NAME: 278_activehours_earnin
23436 rows
K = 290 , COMPANY_NAME: 279_fedex_fedex
48828 rows
K = 291 , COMPANY_NAME: 27_wawa_wawa
48516 rows
K = 292 , COMPANY_NAME: 280_stashinvest_stashinvest
48828 rows
K = 293 , COMPANY_NAME: 281_nordstrom_segment_adjusted_nordstrom_full_price
48828 rows
K = 294 , COMPANY_NAME: 282_airbnb_adjusted_airbnb
48828 rows
K = 295 , COMPANY_NAME: 283_in_n_out_burger_in_n_out_burger
48828 rows
K = 296 , COMPANY_NAME: 284_fandango_fandango
48828 rows
K = 297 , COMPANY_NAME: 285_wingstop_wingstop
48828 rows
K = 298 , COMPANY_NAME: 286_mapco_mapco
48828 rows
K = 299 , COMPANY_NAME: 287_buc_ees_buc_ees
48828 rows
K = 300 , COMPANY_NAME: 288_roku_roku
48828 rows
K = 301 , COMPANY_NAME: 289_maverik_maverik
48828 rows
K = 302 , COMPANY_NAME: 290_gap_adjusted_gap
48828 rows
K = 303 , COMPANY_NAME: 291_delta_airlines_delta_airlines
48828 rows
K = 304 , COMPANY_NAME: 292_sport_clips_sport_clips
48828 rows
K = 305 , COMPANY_NAME: 293_total_wine_and_more_total_wine_and_more
48828 rows
K = 306 , COMPANY_NAME: 294_levelup_levelup
48828 rows
K = 307 , COMPANY_NAME: 295_bloomin_brands_outback
48828 rows
K = 308 , COMPANY_NAME: 296_united_continental_united_airlines
48828 rows
K = 309 , COMPANY_NAME: 297_fresh_market_fresh_market
48828 rows
K = 310 , COMPANY_NAME: 298_krispy_kreme_krispy_kreme
48828 rows
K = 311 , COMPANY_NAME: 299_southwest_southwest
48828 rows
K = 312 , COMPANY_NAME: 300_lowes_food_lowes_food
48828 rows
K = 313 , COMPANY_NAME: 301_schnucks_schnucks
48828 rows
K = 314 , COMPANY_NAME: 302_amerco_uhaul
48828 rows
K = 315 , COMPANY_NAME: 303_enterprise_enterprise
48828 rows
K = 316 , COMPANY_NAME: 304_noodles_noodles
48828 rows
K = 317 , COMPANY_NAME: 305_office_depot_office_depot
48828 rows
K = 318 , COMPANY_NAME: 306_ez_pass_sunpass
48828 rows

In [41]:
### attach cohort ID (as an integer)

df_combined = pd.read_csv(f'{SAVE_DIR}/company_0_1000.csv')
df_combined = df_combined.drop(['Unnamed: 0'], axis=1)

cohort_list = np.sort(df_combined['acq_week'].unique())
corhort_dict = {cohort_list[i]:i for i in range(cohort_list.shape[0])}
df_combined['cohort_id'] = df_combined['acq_week'].map(corhort_dict)
df_combined

# df_combined.to_csv(f'{SAVE_DIR}/company_0_1000.csv')

,acq_week,week,tenure,acq_quarter,N_week_cohort,active_users,merchant_index,merchant,parent_merchant,category,subcategory,orders,initial_order,rpt_orders,orders_per_cust,initial_order_per_cust,rpt_orders_per_cust,spend,initial_spend,rpt_spend,spend_per_cust,initial_spend_per_cust,rpt_spend_per_cust,aov,initial_aov,rpt_aov,year,holidays,weekofyear,linear,linear_1,firm_cohort_id,corhort_id
0,2017-01-01,2017-01-01,0,2017-01-01,9840,9840,11,itunes,apple,Home Entertainment,Music Streaming & Audio,11615,9840,1775,1.180386,1.0,0.180386,117724.48080,93803.30760,23921.1732,11.963870,9.532856,2.431014,10.135556,9.532856,13.476717,0.25,1,52,0.068182,0.004649,11-2017-01-01,0
1,2017-01-01,2017-01-08,1,2017-01-01,9840,2071,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2778,0,2778,0.282317,0.0,0.282317,31851.15040,0.00000,31851.1504,3.236906,0.000000,3.236906,11.465497,9.532856,11.465497,0.25,0,1,0.073864,0.005456,11-2017-01-01,0
2,2017-01-01,2017-01-15,2,2017-01-01,9840,1789,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2467,0,2467,0.250711,0.0,0.250711,29201.22320,0.00000,29201.2232,2.967604,0.000000,2.967604,11.836734,9.532856,11.836734,0.25,0,2,0.079545,0.006327,11-2017-01-01,0
3,2017-01-01,2017-01-22,3,2017-01-01,9840,1667,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2223,0,2223,0.225915,0.0,0.225915,25824.77960,0.00000,25824.7796,2.624469,0.000000,2.624469,11.617085,9.532856,11.617085,0.25,0,3,0.085227,0.007264,11-2017-01-01,0
4,2017-01-01,2017-01-29,4,2017-01-01,9840,2865,11,itunes,apple,Home Entertainment,Music Streaming & Audio,3568,0,3568,0.362602,0.0,0.362602,35570.30680,0.00000,35570.3068,3.614869,0.000000,3.614869,9.969256,9.532856,9.969256,0.25,0,4,0.090909,0.008264,11-2017-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14266326,2020-02-09,2020-02-16,1,2020-01-01,389,10,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,12,0,12,0.030848,0.0,0.030848,2270.85000,0.00000,2270.8500,5.837661,0.000000,5.837661,189.237500,211.379831,189.237500,1.00,0,7,0.994318,0.988669,1100-2020-02-09,162
14266327,2020-02-09,2020-02-23,2,2020-01-01,389,2,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,3,0,3,0.007712,0.0,0.007712,258.58000,0.00000,258.5800,0.664730,0.000000,0.664730,86.193333,211.379831,86.193333,1.00,0,8,1.000000,1.000000,1100-2020-02-09,162
14266328,2020-02-16,2020-02-16,0,2020-01-01,400,400,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,424,400,24,1.060000,1.0,0.060000,86651.71425,83283.79425,3367.9200,216.629286,208.209486,8.419800,204.367251,208.209486,140.330000,1.00,0,7,0.994318,0.988669,1100-2020-02-16,163
14266329,2020-02-16,2020-02-23,1,2020-01-01,400,8,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,10,0,10,0.025000,0.0,0.025000,1655.12000,0.00000,1655.1200,4.137800,0.000000,4.137800,165.512000,208.209486,165.512000,1.00,0,8,1.000000,1.000000,1100-2020-02-16,163
14266330,2020-02-23,2020-02-23,0,2020-01-01,413,413,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,435,413,22,1.053269,1.0,0.053269,122959.74550,118235.64550,4724.1000,297.723355,286.284856,11.438499,282.666082,286.284856,214.731818,1.00,0,8,1.000000,1.000000,1100-2020-02-23,164

In [23]:
### fill missing values again
df_combined = pd.read_csv(f'{SAVE_DIR}/company_0_100.csv')
df_combined = df_combined.drop(['Unnamed: 0'], axis=1)

df_combined[['orders_per_cust', 'initial_order_per_cust', 'rpt_orders_per_cust',
             'spend_per_cust', 'initial_spend_per_cust', 'rpt_spend_per_cust',
             'aov', 'initial_aov', 'rpt_aov',
             ]] = df_combined[['orders_per_cust', 'initial_order_per_cust', 'rpt_orders_per_cust',
             'spend_per_cust', 'initial_spend_per_cust', 'rpt_spend_per_cust',
             'aov', 'initial_aov', 'rpt_aov',
             ]].fillna(method = 'ffill') # propagate non-null values forward

# df_combined.to_csv(f'{SAVE_DIR}/company_0_1000.csv')

In [27]:
df_combined.to_csv(f'{SAVE_DIR}/company_0_100.csv')

In [26]:
print(df_combined[df_combined['rpt_aov'].isnull()].values.any())
# print(df_combined3[df_combined3['rpt_aov'].isnull()])

# df_combined3.iloc[1542486:1542496] ## sanity check

False

In [2]:
df_combined1 = pd.read_csv(f'{SAVE_DIR}/company_0_10.csv')
df_combined1

,Unnamed: 0,acq_week,week,tenure,acq_quarter,N_week_cohort,active_users,merchant_index,merchant,parent_merchant,category,subcategory,orders,initial_order,rpt_orders,orders_per_cust,initial_order_per_cust,rpt_orders_per_cust,spend,initial_spend,rpt_spend,spend_per_cust,initial_spend_per_cust,rpt_spend_per_cust,aov,initial_aov,rpt_aov,year,holidays,weekofyear,linear,linear_1,firm_cohort_id,cohort_id
0,0,2017-03-12,2017-03-12,0,2017-01-01,534,534,1000,jam_city_inc,jam_city_inc,Home Entertainment,Gaming,931,534,397,1.743446,1.0,0.743446,4827.36100,2788.4010,2038.96000,9.040002,5.221725,3.818277,5.185135,5.221725,5.135919,0.25,0,10,0.125000,0.015625,1000-2017-03-12,10
1,1,2017-03-12,2017-03-19,1,2017-01-01,534,344,1000,jam_city_inc,jam_city_inc,Home Entertainment,Gaming,849,0,849,1.589888,0.0,1.589888,4151.51000,0.0000,4151.51000,7.774363,0.000000,7.774363,4.889882,5.221725,4.889882,0.25,0,11,0.130682,0.017078,1000-2017-03-12,10
2,2,2017-03-12,2017-03-26,2,2017-01-01,534,280,1000,jam_city_inc,jam_city_inc,Home Entertainment,Gaming,764,0,764,1.430712,0.0,1.430712,3699.60000,0.0000,3699.60000,6.928090,0.000000,6.928090,4.842408,5.221725,4.842408,0.25,0,12,0.136364,0.018595,1000-2017-03-12,10
3,3,2017-03-12,2017-04-02,3,2017-01-01,534,290,1000,jam_city_inc,jam_city_inc,Home Entertainment,Gaming,705,0,705,1.320225,0.0,1.320225,3661.47000,0.0000,3661.47000,6.856685,0.000000,6.856685,5.193574,5.221725,5.193574,0.25,0,13,0.142045,0.020177,1000-2017-03-12,10
4,4,2017-03-12,2017-04-09,4,2017-01-01,534,262,1000,jam_city_inc,jam_city_inc,Home Entertainment,Gaming,662,0,662,1.239700,0.0,1.239700,3215.25000,0.0000,3215.25000,6.021067,0.000000,6.021067,4.856873,5.221725,4.856873,0.25,0,14,0.147727,0.021823,1000-2017-03-12,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135340,135340,2020-02-09,2020-02-16,1,2020-01-01,547,135,1009,gaylord_hotels,marriott,Travel & Transportation,Lodging & Accommodation,274,0,274,0.500914,0.0,0.500914,38509.92470,0.0000,38509.92470,70.402056,0.000000,70.402056,140.547170,56.161371,140.547170,1.00,0,7,0.994318,0.988669,1009-2020-02-09,162
135341,135341,2020-02-09,2020-02-23,2,2020-01-01,547,3,1009,gaylord_hotels,marriott,Travel & Transportation,Lodging & Accommodation,4,0,4,0.007313,0.0,0.007313,1147.55000,0.0000,1147.55000,2.097898,0.000000,2.097898,286.887500,56.161371,286.887500,1.00,0,8,1.000000,1.000000,1009-2020-02-09,162
135342,135342,2020-02-16,2020-02-16,0,2020-01-01,604,604,1009,gaylord_hotels,marriott,Travel & Transportation,Lodging & Accommodation,948,604,344,1.569536,1.0,0.569536,66627.84235,37580.2600,29047.58235,110.310997,62.218974,48.092024,70.282534,62.218974,84.440646,1.00,0,7,0.994318,0.988669,1009-2020-02-16,163
135343,135343,2020-02-16,2020-02-23,1,2020-01-01,604,74,1009,gaylord_hotels,marriott,Travel & Transportation,Lodging & Accommodation,162,0,162,0.268212,0.0,0.268212,10365.55000,0.0000,10365.55000,17.161507,0.000000,17.161507,63.984877,62.218974,63.984877,1.00,0,8,1.000000,1.000000,1009-2020-02-16,163
135344,135344,2020-02-23,2020-02-23,0,2020-01-01,428,428,1009,gaylord_hotels,marriott,Travel & Transportation,Lodging & Accommodation,695,428,267,1.623832,1.0,0.623832,70510.91705,47669.5147,22841.40235,164.745133,111.377371,53.367763,101.454557,111.377371,85.548323,1.00,0,8,1.000000,1.000000,1009-2020-02-23,164

In [3]:
df_combined2 = pd.read_csv(f'{SAVE_DIR}/company_0_100.csv')
df_combined2

,Unnamed: 0,acq_week,week,tenure,acq_quarter,N_week_cohort,active_users,merchant_index,merchant,parent_merchant,category,subcategory,orders,initial_order,rpt_orders,orders_per_cust,initial_order_per_cust,rpt_orders_per_cust,spend,initial_spend,rpt_spend,spend_per_cust,initial_spend_per_cust,rpt_spend_per_cust,aov,initial_aov,rpt_aov,year,holidays,weekofyear,linear,linear_1,firm_cohort_id,cohort_id
0,0,2017-01-01,2017-01-01,0,2017-01-01,1695,1695,100,giant_landover,ahold_delhaize_adjusted,Grocers,Supermarkets,1904,1695,209,1.123304,1.0,0.123304,98197.050,82570.460,15626.59,57.933363,48.714136,9.219227,51.574081,48.714136,74.768373,0.25,1,52,0.068182,0.004649,100-2017-01-01,0
1,1,2017-01-01,2017-01-08,1,2017-01-01,1695,225,100,giant_landover,ahold_delhaize_adjusted,Grocers,Supermarkets,328,0,328,0.193510,0.0,0.193510,15162.690,0.000,15162.69,8.945540,0.000000,8.945540,46.227713,48.714136,46.227713,0.25,0,1,0.073864,0.005456,100-2017-01-01,0
2,2,2017-01-01,2017-01-15,2,2017-01-01,1695,231,100,giant_landover,ahold_delhaize_adjusted,Grocers,Supermarkets,357,0,357,0.210619,0.0,0.210619,16784.840,0.000,16784.84,9.902560,0.000000,9.902560,47.016359,48.714136,47.016359,0.25,0,2,0.079545,0.006327,100-2017-01-01,0
3,3,2017-01-01,2017-01-22,3,2017-01-01,1695,206,100,giant_landover,ahold_delhaize_adjusted,Grocers,Supermarkets,296,0,296,0.174631,0.0,0.174631,11634.260,0.000,11634.26,6.863870,0.000000,6.863870,39.304932,48.714136,39.304932,0.25,0,3,0.085227,0.007264,100-2017-01-01,0
4,4,2017-01-01,2017-01-29,4,2017-01-01,1695,204,100,giant_landover,ahold_delhaize_adjusted,Grocers,Supermarkets,293,0,293,0.172861,0.0,0.172861,10831.170,0.000,10831.17,6.390071,0.000000,6.390071,36.966451,48.714136,36.966451,0.25,0,4,0.090909,0.008264,100-2017-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1342837,1342837,2020-02-09,2020-02-16,1,2020-01-01,635,14,1090,piercing_pagoda,signet_adjusted,Apparel & Accessories,Jewelry & Watches,14,0,14,0.022047,0.0,0.022047,1088.220,0.000,1088.22,1.713732,0.000000,1.713732,77.730000,80.850890,77.730000,1.00,0,7,0.994318,0.988669,1090-2020-02-09,162
1342838,1342838,2020-02-09,2020-02-23,2,2020-01-01,635,3,1090,piercing_pagoda,signet_adjusted,Apparel & Accessories,Jewelry & Watches,3,0,3,0.004724,0.0,0.004724,68.920,0.000,68.92,0.108535,0.000000,0.108535,22.973333,80.850890,22.973333,1.00,0,8,1.000000,1.000000,1090-2020-02-09,162
1342839,1342839,2020-02-16,2020-02-16,0,2020-01-01,590,590,1090,piercing_pagoda,signet_adjusted,Apparel & Accessories,Jewelry & Watches,602,590,12,1.020339,1.0,0.020339,39840.125,39305.815,534.31,67.525636,66.620025,0.905610,66.179610,66.620025,44.525833,1.00,0,7,0.994318,0.988669,1090-2020-02-16,163
1342840,1342840,2020-02-16,2020-02-23,1,2020-01-01,590,8,1090,piercing_pagoda,signet_adjusted,Apparel & Accessories,Jewelry & Watches,8,0,8,0.013559,0.0,0.013559,541.770,0.000,541.77,0.918254,0.000000,0.918254,67.721250,66.620025,67.721250,1.00,0,8,1.000000,1.000000,1090-2020-02-16,163
1342841,1342841,2020-02-23,2020-02-23,0,2020-01-01,503,503,1090,piercing_pagoda,signet_adjusted,Apparel & Accessories,Jewelry & Watches,517,503,14,1.027833,1.0,0.027833,40554.075,39521.875,1032.20,80.624404,78.572316,2.052087,78.441151,78.572316,73.728571,1.00,0,8,1.000000,1.000000,1090-2020-02-23,164

In [2]:
df_combined3 = pd.read_csv(f'{SAVE_DIR}/company_0_1000.csv')
df_combined3

,Unnamed: 0,acq_week,week,tenure,acq_quarter,N_week_cohort,active_users,merchant_index,merchant,parent_merchant,category,subcategory,orders,initial_order,rpt_orders,orders_per_cust,initial_order_per_cust,rpt_orders_per_cust,spend,initial_spend,rpt_spend,spend_per_cust,initial_spend_per_cust,rpt_spend_per_cust,aov,initial_aov,rpt_aov,year,holidays,weekofyear,linear,linear_1,firm_cohort_id,cohort_id
0,0,2017-01-01,2017-01-01,0,2017-01-01,9840,9840,11,itunes,apple,Home Entertainment,Music Streaming & Audio,11615,9840,1775,1.180386,1.0,0.180386,117724.48080,93803.30760,23921.1732,11.963870,9.532856,2.431014,10.135556,9.532856,13.476717,0.25,1,52,0.068182,0.004649,11-2017-01-01,0
1,1,2017-01-01,2017-01-08,1,2017-01-01,9840,2071,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2778,0,2778,0.282317,0.0,0.282317,31851.15040,0.00000,31851.1504,3.236906,0.000000,3.236906,11.465497,9.532856,11.465497,0.25,0,1,0.073864,0.005456,11-2017-01-01,0
2,2,2017-01-01,2017-01-15,2,2017-01-01,9840,1789,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2467,0,2467,0.250711,0.0,0.250711,29201.22320,0.00000,29201.2232,2.967604,0.000000,2.967604,11.836734,9.532856,11.836734,0.25,0,2,0.079545,0.006327,11-2017-01-01,0
3,3,2017-01-01,2017-01-22,3,2017-01-01,9840,1667,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2223,0,2223,0.225915,0.0,0.225915,25824.77960,0.00000,25824.7796,2.624469,0.000000,2.624469,11.617085,9.532856,11.617085,0.25,0,3,0.085227,0.007264,11-2017-01-01,0
4,4,2017-01-01,2017-01-29,4,2017-01-01,9840,2865,11,itunes,apple,Home Entertainment,Music Streaming & Audio,3568,0,3568,0.362602,0.0,0.362602,35570.30680,0.00000,35570.3068,3.614869,0.000000,3.614869,9.969256,9.532856,9.969256,0.25,0,4,0.090909,0.008264,11-2017-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14266136,14266326,2020-02-09,2020-02-16,1,2020-01-01,389,10,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,12,0,12,0.030848,0.0,0.030848,2270.85000,0.00000,2270.8500,5.837661,0.000000,5.837661,189.237500,211.379831,189.237500,1.00,0,7,0.994318,0.988669,1100-2020-02-09,162
14266137,14266327,2020-02-09,2020-02-23,2,2020-01-01,389,2,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,3,0,3,0.007712,0.0,0.007712,258.58000,0.00000,258.5800,0.664730,0.000000,0.664730,86.193333,211.379831,86.193333,1.00,0,8,1.000000,1.000000,1100-2020-02-09,162
14266138,14266328,2020-02-16,2020-02-16,0,2020-01-01,400,400,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,424,400,24,1.060000,1.0,0.060000,86651.71425,83283.79425,3367.9200,216.629286,208.209486,8.419800,204.367251,208.209486,140.330000,1.00,0,7,0.994318,0.988669,1100-2020-02-16,163
14266139,14266329,2020-02-16,2020-02-23,1,2020-01-01,400,8,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,10,0,10,0.025000,0.0,0.025000,1655.12000,0.00000,1655.1200,4.137800,0.000000,4.137800,165.512000,208.209486,165.512000,1.00,0,8,1.000000,1.000000,1100-2020-02-16,163
14266140,14266330,2020-02-23,2020-02-23,0,2020-01-01,413,413,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,435,413,22,1.053269,1.0,0.053269,122959.74550,118235.64550,4724.1000,297.723355,286.284856,11.438499,282.666082,286.284856,214.731818,1.00,0,8,1.000000,1.000000,1100-2020-02-23,164

In [55]:
df_combined3[df_combined3['merchant_index']==484]

,Unnamed: 0,acq_week,week,tenure,acq_quarter,N_week_cohort,active_users,merchant_index,merchant,parent_merchant,category,subcategory,orders,initial_order,rpt_orders,orders_per_cust,initial_order_per_cust,rpt_orders_per_cust,spend,initial_spend,rpt_spend,spend_per_cust,initial_spend_per_cust,rpt_spend_per_cust,aov,initial_aov,rpt_aov,year,holidays,weekofyear,linear,linear_1,firm_cohort_id,cohort_id
6144493,6144493,2019-10-20,2019-10-20,0,2019-10-01,12457,12457,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,20977,12457,8520,1.683953,1.0,0.683953,427094.9827,282837.2074,144257.7753,34.285541,22.705082,11.580459,20.360156,22.705082,16.931664,0.75,0,42,0.897727,0.805914,484-2019-10-20,146
6144494,6144494,2019-10-20,2019-10-27,1,2019-10-01,12457,7321,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,17728,0,17728,1.423136,0.0,1.423136,332915.0573,0.0000,332915.0573,26.725139,0.000000,26.725139,18.779053,22.705082,18.779053,0.75,0,43,0.903409,0.816148,484-2019-10-20,146
6144495,6144495,2019-10-20,2019-11-03,2,2019-10-01,12457,7305,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,17714,0,17714,1.422012,0.0,1.422012,348712.4388,0.0000,348712.4388,27.993292,0.000000,27.993292,19.685697,22.705082,19.685697,0.75,0,44,0.909091,0.826446,484-2019-10-20,146
6144496,6144496,2019-10-20,2019-11-10,3,2019-10-01,12457,7059,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,16805,0,16805,1.349041,0.0,1.349041,328065.8435,0.0000,328065.8435,26.335863,0.000000,26.335863,19.521919,22.705082,19.521919,0.75,0,45,0.914773,0.836809,484-2019-10-20,146
6144497,6144497,2019-10-20,2019-11-17,4,2019-10-01,12457,7156,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,17152,0,17152,1.376897,0.0,1.376897,337867.4588,0.0000,337867.4588,27.122699,0.000000,27.122699,19.698429,22.705082,19.698429,0.75,0,46,0.920455,0.847237,484-2019-10-20,146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6144678,6144678,2020-02-09,2020-02-16,1,2020-01-01,1292,141,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,179,0,179,0.138545,0.0,0.138545,4224.5762,0.0000,4224.5762,3.269796,0.000000,3.269796,23.600984,22.318991,23.600984,1.00,0,7,0.994318,0.988669,484-2020-02-09,162
6144679,6144679,2020-02-09,2020-02-23,2,2020-01-01,1292,83,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,98,0,98,0.075851,0.0,0.075851,2078.6400,0.0000,2078.6400,1.608854,0.000000,1.608854,21.210612,22.318991,21.210612,1.00,0,8,1.000000,1.000000,484-2020-02-09,162
6144680,6144680,2020-02-16,2020-02-16,0,2020-01-01,1284,1284,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,1425,1284,141,1.109813,1.0,0.109813,32381.2048,29141.5186,3239.6862,25.219007,22.695887,2.523120,22.723652,22.695887,22.976498,1.00,0,7,0.994318,0.988669,484-2020-02-16,163
6144681,6144681,2020-02-16,2020-02-23,1,2020-01-01,1284,127,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,160,0,160,0.124611,0.0,0.124611,3144.0881,0.0000,3144.0881,2.448667,0.000000,2.448667,19.650551,22.695887,19.650551,1.00,0,8,1.000000,1.000000,484-2020-02-16,163
6144682,6144682,2020-02-23,2020-02-23,0,2020-01-01,1132,1132,484,cumberland_farms,eg_group_adjusted,General Merchandise,Gas Stations,1269,1132,137,1.121025,1.0,0.121025,26947.1500,24297.7600,2649.3900,23.804903,21.464452,2.340451,21.234949,21.464452,19.338613,1.00,0,8,1.000000,1.000000,484-2020-02-23,164

In [60]:
### attach cohort ID (as an integer)

df_combined3 = pd.read_csv(f'{SAVE_DIR}/company_0_1000.csv')
df_combined3 = df_combined.drop(['Unnamed: 0'], axis=1)

### remove company which has no training period
TEST_START = '2019-04-01' # Q2 2019
TRAIN_END=(pd.to_datetime(TEST_START) - timedelta(days=1)).strftime('%Y-%m-%d')
temp = df_combined3[df_combined3['merchant_index']==484]
temp[temp['acq_week']<=TRAIN_END].shape[0] # = 0

df_combined3 = df_combined3[df_combined3['merchant_index']!=484]

# df_combined3.to_csv(f'{SAVE_DIR}/company_0_1000.csv')

0

In [70]:
df_combined3.to_csv(f'{SAVE_DIR}/company_0_1000.csv')

In [46]:
### sanity check
print(df_combined.groupby(['merchant_index'])['merchant_index'].count())
df_combined

merchant_index
11      13695
12      13695
13      13695
15      13695
20      13695
        ...
1096    13695
1097    13695
1098    13695
1099    13695
1100    13695
Name: merchant_index, Length: 1061, dtype: int64

,acq_week,week,tenure,acq_quarter,N_week_cohort,active_users,merchant_index,merchant,parent_merchant,category,subcategory,orders,initial_order,rpt_orders,orders_per_cust,initial_order_per_cust,rpt_orders_per_cust,spend,initial_spend,rpt_spend,spend_per_cust,initial_spend_per_cust,rpt_spend_per_cust,aov,initial_aov,rpt_aov,year,holidays,weekofyear,linear,linear_1,firm_cohort_id,cohort_id
0,2017-01-01,2017-01-01,0,2017-01-01,9840,9840,11,itunes,apple,Home Entertainment,Music Streaming & Audio,11615,9840,1775,1.180386,1.0,0.180386,117724.48080,93803.30760,23921.1732,11.963870,9.532856,2.431014,10.135556,9.532856,13.476717,0.25,1,52,0.068182,0.004649,11-2017-01-01,0
1,2017-01-01,2017-01-08,1,2017-01-01,9840,2071,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2778,0,2778,0.282317,0.0,0.282317,31851.15040,0.00000,31851.1504,3.236906,0.000000,3.236906,11.465497,9.532856,11.465497,0.25,0,1,0.073864,0.005456,11-2017-01-01,0
2,2017-01-01,2017-01-15,2,2017-01-01,9840,1789,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2467,0,2467,0.250711,0.0,0.250711,29201.22320,0.00000,29201.2232,2.967604,0.000000,2.967604,11.836734,9.532856,11.836734,0.25,0,2,0.079545,0.006327,11-2017-01-01,0
3,2017-01-01,2017-01-22,3,2017-01-01,9840,1667,11,itunes,apple,Home Entertainment,Music Streaming & Audio,2223,0,2223,0.225915,0.0,0.225915,25824.77960,0.00000,25824.7796,2.624469,0.000000,2.624469,11.617085,9.532856,11.617085,0.25,0,3,0.085227,0.007264,11-2017-01-01,0
4,2017-01-01,2017-01-29,4,2017-01-01,9840,2865,11,itunes,apple,Home Entertainment,Music Streaming & Audio,3568,0,3568,0.362602,0.0,0.362602,35570.30680,0.00000,35570.3068,3.614869,0.000000,3.614869,9.969256,9.532856,9.969256,0.25,0,4,0.090909,0.008264,11-2017-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14266326,2020-02-09,2020-02-16,1,2020-01-01,389,10,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,12,0,12,0.030848,0.0,0.030848,2270.85000,0.00000,2270.8500,5.837661,0.000000,5.837661,189.237500,211.379831,189.237500,1.00,0,7,0.994318,0.988669,1100-2020-02-09,162
14266327,2020-02-09,2020-02-23,2,2020-01-01,389,2,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,3,0,3,0.007712,0.0,0.007712,258.58000,0.00000,258.5800,0.664730,0.000000,0.664730,86.193333,211.379831,86.193333,1.00,0,8,1.000000,1.000000,1100-2020-02-09,162
14266328,2020-02-16,2020-02-16,0,2020-01-01,400,400,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,424,400,24,1.060000,1.0,0.060000,86651.71425,83283.79425,3367.9200,216.629286,208.209486,8.419800,204.367251,208.209486,140.330000,1.00,0,7,0.994318,0.988669,1100-2020-02-16,163
14266329,2020-02-16,2020-02-23,1,2020-01-01,400,8,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,10,0,10,0.025000,0.0,0.025000,1655.12000,0.00000,1655.1200,4.137800,0.000000,4.137800,165.512000,208.209486,165.512000,1.00,0,8,1.000000,1.000000,1100-2020-02-16,163
14266330,2020-02-23,2020-02-23,0,2020-01-01,413,413,1100,hotwire_com,expedia_adjusted,Travel & Transportation,Online Travel Agency,435,413,22,1.053269,1.0,0.053269,122959.74550,118235.64550,4724.1000,297.723355,286.284856,11.438499,282.666082,286.284856,214.731818,1.00,0,8,1.000000,1.000000,1100-2020-02-23,164