This is for 1) acquisition, 2) initial spend time series generation.

In [1]:
### Using Darts package to generate covariates (of course we can do manually)
from darts.utils.timeseries_generation import datetime_attribute_timeseries, holidays_timeseries, linear_timeseries
from darts import TimeSeries, concatenate
from darts.dataprocessing.transformers import Scaler
from darts.utils.missing_values import fill_missing_values
import darts
print('darts version:', darts.__version__)

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import shutil

import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

DLNAME='tft_google'
TARGET='acq_initialspend'

## Choosing workspace (which has GPU machine)
DGX=True
Databricks=False
AutoDL=False
Colab=False 
KKlaptop=False
GTX1080=False

## Set working directories 
if GTX1080:
    ### spec: 4x GeForce GTX 1080 Ti
    CURRENT_PATH = '/home/zhaoqi/cbcv'
    READ_DIR = '/home/zhaoqi/cbcv/data/weekly_cohort_sample100_zeromasked'

if DGX:
    ### spec: 8x Tesla V100
    CURRENT_PATH = '/home/jhan405/cbcv/tft_google_ver4/jianlin-tft'
    READ_DIR = f'{CURRENT_PATH}/data/weekly_cohort_data_1000'

if Databricks:
    ### cluster
    pass

if AutoDL:
    CURRENT_PATH = '/root/autodl-tmp/Boston'
    READ_DIR = f'{CURRENT_PATH}/data/weekly_cohort_sample100_zeromasked'


### Set where to save
SAVE_DIR =f'{CURRENT_PATH}/data/preprocessed_data/{DLNAME}/{TARGET}' # where to save prediction results


## Create a new directory if it does not exist
import os
if not os.path.exists(SAVE_DIR):
    os.makedirs(SAVE_DIR)

darts version: 0.20.0

In [2]:
INPUT_CHUNK_LENGTH = 12

## set date range and time unit
TRAIN_START='2017-01-01' # Q1 2017
TEST_START = '2019-04-01' # Q2 2019
TRAIN_START_INPUTCHUNK=(pd.to_datetime(TRAIN_START) - timedelta(days=7*INPUT_CHUNK_LENGTH)).strftime('%Y-%m-%d')
TRAIN_END=(pd.to_datetime(TEST_START) - timedelta(days=1)).strftime('%Y-%m-%d')
TEST_END='2020-02-29' # Before Covid
TEST_END_EXTEND='2020-05-31' # + additional one quarter (for computational issue)

In [3]:
### read filelist
import glob
filelist=glob.glob(f'{READ_DIR}/*') # all paths for data files
filelist.sort()

K_LIST = range(len(filelist))
print(K_LIST)
print(filelist[:5])

range(0, 1075)
['/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1000_jam_city_inc_jam_city_inc_cohort.csv', '/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1001_heritage_dairy_heritage_dairy_cohort.csv', '/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1002_unitedhealth_optumrx_cohort.csv', '/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1003_h_r_block_h_r_diy_cohort.csv', '/home/jhan405/cbcv/tft_google_ver4/data/weekly_cohort_data_1000/1004_bmw_payments_bmw_payments_cohort.csv']

In [4]:
def read_file(K):
    
    ## choose company
    COMPANY_NAME = os.path.splitext(os.path.split(filelist[K])[1])[0][:-len('_cohort')]
    FILEPATH = os.path.splitext(os.path.split(filelist[K])[1])[0] + '.csv'
    print('K =', K, ', COMPANY_NAME:', COMPANY_NAME)

    ## read company
    COL_NAMES_TO_READ = ['acq_week', # group identifier
                    'week', 'tenure', # time identifier
                #  'spend', # target
                    'N_week_cohort', 'acq_quarter', 'merchant_index', 'merchant'] 

    raw_df = pd.read_csv(f'{READ_DIR}/{FILEPATH}') 
                    # usecols=COL_NAMES_TO_READ)[COL_NAMES_TO_READ]

    ### create initial spend
    raw_df['initial_order'] = raw_df['orders'] - raw_df['rpt_orders']
    raw_df['initial_order_per_cust'] = raw_df['initial_order'] / raw_df['N_week_cohort']
    raw_df['initial_spend'] = raw_df['spend'] - raw_df['rpt_spend']
    raw_df['initial_spend_per_cust'] = raw_df['initial_spend'] / raw_df['N_week_cohort']
    raw_df['initial_aov'] = raw_df['initial_spend'] / raw_df['initial_order']
    
    # ignore initial vs repeat
    raw_df['aov'] = raw_df['spend'] / raw_df['orders']
    raw_df['orders_per_cust'] = raw_df['orders'] / raw_df['N_week_cohort']

    raw_df=raw_df[raw_df['tenure']==0] # pick one obs per each acq_week
    print(raw_df.shape[0], 'rows')
    raw_df.sort_values('acq_week')


    # ## Define main columns: {group, time, value}
    # raw_df.rename(columns={'acq_week': 'time', 
    #                     'N_week_cohort': 'value'}, inplace=True) # single time series (one group)

    ## limit data time range
    df = raw_df[ (raw_df['acq_week']<=TEST_END) & (raw_df['acq_week']>=TRAIN_START_INPUTCHUNK) ]
    df.loc[:,'acq_week'] = pd.to_datetime(df['acq_week'])


    # ### fill missing values
    # import pickle
    # time_acq = pd.read_pickle(f'{CURRENT_PATH}/utils/time_acq_template.pickle')

    # ## write down for data with missingness
    # if df.shape[0] != len(time_acq):
    #     file1 = open(f'{CURRENT_PATH}/misc/acq_data_preprocessing.txt',"w")
    #     file1.write(f'{COMPANY_NAME} has {df.shape[0]} rows. {len(time_acq) - df.shape[0]} rows are missing. \n')
    #     file1.close() #to change file access modes

    # df = pd.merge(time_acq, df, left_on = ['time'], right_index=True, how = 'left')
    # df = df.fillna(method = 'ffill') # propagate non-null values forward
    # df = df.fillna(0) # fill with 0
    
    return df

In [5]:
def generate_covariates(df):

    actual_one = TimeSeries.from_dataframe(df, 
                                        time_col='acq_week',
                                        value_cols=['N_week_cohort', # prediction target 
                                                    'initial_order', # = N_week_cohort 
                                                    'initial_order_per_cust', # = 1 always
                                                    'initial_spend', # initial_aov * initial order
                                                    'initial_aov', # prediction target
                                                    'orders',
                                                    'orders_per_cust',
                                                    'spend',
                                                    'aov']) # prediction target


    ### generate covariates (for continuous covariates, applying scaler)
    train_scaler = Scaler()

    ## year (numerical)
    year_series = datetime_attribute_timeseries(
        pd.date_range(start=actual_one.start_time(), 
                    end=pd.Timestamp(TEST_END),
                    freq=actual_one.freq_str, 
                    ),
        attribute="year",
        one_hot=False, # consider it as numerical
    )
    year_series = Scaler().fit_transform(year_series) # n_jobs=-1 for large data

    # ## month (categorical)
    # month_series = datetime_attribute_timeseries(
    #     year_series, 
    #     attribute="month", 
    #     one_hot=True # categorical
    # )

    ## week of year (categorical)
    weekofyear_series = datetime_attribute_timeseries(
                year_series, 
                attribute="weekofyear", 
                one_hot=False,
            )

    holiday_series = holidays_timeseries(
        pd.date_range(start=actual_one.start_time(), 
                    end=pd.Timestamp(TEST_END),
                    freq=actual_one.freq_str, 
                    ),
        country_code='US',
        column_name='holidays',
    )

    linear_trend = linear_timeseries(
                start=actual_one.start_time(),
                end=pd.Timestamp(TEST_END),
                freq=actual_one.freq_str, 
                column_name='linear')  

    quadratic_trend=linear_trend*linear_trend

    # covariates = year_series.stack(holiday_series).stack(weekofyear_series)
    covariates = year_series.stack(holiday_series).stack(weekofyear_series).stack(linear_trend).stack(quadratic_trend)
    data_df = actual_one.stack(covariates).pd_dataframe()

    data_df['merchant_index'] = df['merchant_index'].iloc[0]
    data_df['merchant'] = df['merchant'].iloc[0]
    data_df['category'] = df['category'].iloc[0]
    data_df['subcategory'] = df['subcategory'].iloc[0]

    data_df.reset_index(inplace=True)

    # ## column names back
    # data_df.rename(columns={'time': 'acq_week', 
    #                     'value': 'N_week_cohort'}, inplace=True) # single time series (one group)
    
    return data_df

In [6]:
### for loop
data_df_list = []
for K in K_LIST:
    df = read_file(K)
    
    if (df[df['acq_week']>=TEST_START].shape[0] != 0):
        data_df_list.append(generate_covariates(df))

### combine everything
df_combined = pd.concat(data_df_list).reset_index(drop=True)

# ### for company_0_100.csv, please remove merchant_index=1028, merchant=lyft_bikes_scooters
# indexdrop = df_combined[df_combined['merchant_index'] == 1028].index
# df_combined.drop(indexdrop , inplace=True)

### combine everything
df_combined.to_csv(f'{SAVE_DIR}/company_0_1000.csv')

K = 0 , COMPANY_NAME: 1000_jam_city_inc_jam_city_inc
249 rows
K = 1 , COMPANY_NAME: 1001_heritage_dairy_heritage_dairy
312 rows
K = 2 , COMPANY_NAME: 1002_unitedhealth_optumrx
312 rows
K = 3 , COMPANY_NAME: 1003_h_r_block_h_r_diy
312 rows
K = 4 , COMPANY_NAME: 1004_bmw_payments_bmw_payments
312 rows
K = 5 , COMPANY_NAME: 1005_west_marine_west_marine
312 rows
K = 6 , COMPANY_NAME: 1006_unilever_ben_and_jerries
312 rows
K = 7 , COMPANY_NAME: 1007_albertsons_adjusted_haggen
299 rows
K = 8 , COMPANY_NAME: 1008_albertsons_adjusted_star_market
312 rows
K = 9 , COMPANY_NAME: 1009_marriott_gaylord_hotels
312 rows
K = 10 , COMPANY_NAME: 100_ahold_delhaize_adjusted_giant_landover
312 rows
K = 11 , COMPANY_NAME: 1010_aldo_aldo
312 rows
K = 12 , COMPANY_NAME: 1011_carnival_carnival_cruises
312 rows
K = 13 , COMPANY_NAME: 1012_foodtown_foodtown
312 rows
K = 14 , COMPANY_NAME: 1013_ross_dd_discount
312 rows
K = 15 , COMPANY_NAME: 1014_jane_com_jane_com
312 rows
K = 16 , COMPANY_NAME: 1015_lord_taylor_lord_taylor
312 rows
K = 17 , COMPANY_NAME: 1016_driven_brands_adjusted_take_5_oil_change
207 rows
K = 18 , COMPANY_NAME: 1017_tapestry_adjusted_kate_spade
232 rows
K = 19 , COMPANY_NAME: 1018_rover_rover
312 rows
K = 20 , COMPANY_NAME: 1019_expedia_adjusted_orbitz
312 rows
K = 21 , COMPANY_NAME: 101_costco_adjusted_costco_gas
312 rows
K = 22 , COMPANY_NAME: 1020_nestle_adjusted_ready_refresh
312 rows
K = 23 , COMPANY_NAME: 1021_bartell_drugs_bartell_drugs
312 rows
K = 24 , COMPANY_NAME: 1022_vanguard_vanguard
312 rows
K = 25 , COMPANY_NAME: 1023_juice_plus_juice_plus
312 rows
K = 26 , COMPANY_NAME: 1024_neiman_marcus_adjusted_neiman_marcus
312 rows
K = 27 , COMPANY_NAME: 1025_marriott_springhill_suites
312 rows
K = 28 , COMPANY_NAME: 1026_viasat_viasat
312 rows
K = 29 , COMPANY_NAME: 1027_coachusa_megabus
312 rows
K = 30 , COMPANY_NAME: 1028_lyft_adjusted_lyft_bikes_scooters
160 rows
K = 31 , COMPANY_NAME: 1029_spartannash_d_and_w
312 rows
K = 32 , COMPANY_NAME: 102_shopify_adjusted_shopify_payments
312 rows
K = 33 , COMPANY_NAME: 1030_tidal_tidal
312 rows
K = 34 , COMPANY_NAME: 1031_mbta_mbta
312 rows
K = 35 , COMPANY_NAME: 1032_zynga_adjusted_zynga
312 rows
K = 36 , COMPANY_NAME: 1033_playtika_playtika
312 rows
K = 37 , COMPANY_NAME: 1034_salsarita_salsarita
312 rows
K = 38 , COMPANY_NAME: 1035_tailored_brands_adjusted_josabank
312 rows
K = 39 , COMPANY_NAME: 1036_josabank_adjusted_josabank
312 rows
K = 40 , COMPANY_NAME: 1037_amc_entertainment_adjusted_carmike
261 rows
K = 41 , COMPANY_NAME: 1038_la_colombe_la_colombe
312 rows
K = 42 , COMPANY_NAME: 1039_herbalife_herbalife
312 rows
K = 43 , COMPANY_NAME: 103_restaurant_brands_popeyes
312 rows
K = 44 , COMPANY_NAME: 1040_davids_bridal_davids_bridal
312 rows
K = 45 , COMPANY_NAME: 1041_disney_magic_kingdom
312 rows
K = 46 , COMPANY_NAME: 1042_proactiv_proactiv
312 rows
K = 47 , COMPANY_NAME: 1043_pancheros_pancheros
312 rows
K = 48 , COMPANY_NAME: 1044_bandai_namco_bandai_namco
312 rows
K = 49 , COMPANY_NAME: 1045_rollins_orkin
312 rows
K = 50 , COMPANY_NAME: 1046_freshly_freshly
312 rows
K = 51 , COMPANY_NAME: 1047_electronic_arts_electronic_arts
312 rows
K = 52 , COMPANY_NAME: 1048_orderup_orderup
312 rows
K = 53 , COMPANY_NAME: 1049_signet_zales
312 rows
K = 54 , COMPANY_NAME: 104_planet_fitness_adjusted_planet_fitness
312 rows
K = 55 , COMPANY_NAME: 1050_great_american_brand_aw
312 rows
K = 56 , COMPANY_NAME: 1051_smokey_bones_smokey_bones
312 rows
K = 57 , COMPANY_NAME: 1052_moon_active_moon_active
312 rows
K = 58 , COMPANY_NAME: 1053_wsdot_good_to_go_wsdot_good_to_go
312 rows
K = 59 , COMPANY_NAME: 1054_big_fish_games_big_fish_games
312 rows
K = 60 , COMPANY_NAME: 1055_thrive_market_thrive_market
312 rows
K = 61 , COMPANY_NAME: 1056_sunglass_hut_sunglass_hut
312 rows
K = 62 , COMPANY_NAME: 1057_pieology_pieology
312 rows
K = 63 , COMPANY_NAME: 1058_uno_pizzeria_uno_pizzeria
312 rows
K = 64 , COMPANY_NAME: 1059_goldman_sachs_marcus_by_gs
275 rows
K = 65 , COMPANY_NAME: 105_petsmart_adjusted_petsmart
312 rows
K = 66 , COMPANY_NAME: 1060_collegeboard_collegeboard
312 rows
K = 67 , COMPANY_NAME: 1061_silver_diner_silver_diner
312 rows
K = 68 , COMPANY_NAME: 1062_logans_roadhouse_logans_roadhouse
312 rows
K = 69 , COMPANY_NAME: 1063_ashley_furniture_ashley_furniture
312 rows
K = 70 , COMPANY_NAME: 1064_nationwide_nationwide_pet
302 rows
K = 71 , COMPANY_NAME: 1065_jostens_jostens
312 rows
K = 72 , COMPANY_NAME: 1066_pappadeaux_seafood_pappadeaux_seafood
312 rows
K = 73 , COMPANY_NAME: 1067_texas_roadhouse_bubbas_33
312 rows
K = 74 , COMPANY_NAME: 1068_play_it_again_sports_play_it_again_sports
312 rows
K = 75 , COMPANY_NAME: 1069_coopers_hawk_coopers_hawk
312 rows
K = 76 , COMPANY_NAME: 106_giant_eagle_getgo
312 rows
K = 77 , COMPANY_NAME: 1070_sprint_adjusted_virgin_mobile
311 rows
K = 78 , COMPANY_NAME: 1071_course_hero_course_hero
312 rows
K = 79 , COMPANY_NAME: 1072_uncle_julios_uncle_julios
312 rows
K = 80 , COMPANY_NAME: 1073_noom_noom
311 rows
K = 81 , COMPANY_NAME: 1074_g6_hospitality_motel_6
312 rows
K = 82 , COMPANY_NAME: 1075_chicos_soma
312 rows
K = 83 , COMPANY_NAME: 1076_upstart_com_adjusted_upstart_com
312 rows
K = 84 , COMPANY_NAME: 1077_equifax_equifax
312 rows
K = 85 , COMPANY_NAME: 1078_harrys_harrys
312 rows
K = 86 , COMPANY_NAME: 1079_zoom_zoom
312 rows
K = 87 , COMPANY_NAME: 107_kroger_fuel_adjusted_kroger
312 rows
K = 88 , COMPANY_NAME: 1080_bargain_hunt_bargain_hunt
312 rows
K = 89 , COMPANY_NAME: 1081_curology_curology
312 rows
K = 90 , COMPANY_NAME: 1082_quaker_steak_quaker_steak
312 rows
K = 91 , COMPANY_NAME: 1083_liberty_expedia_holdings_bodybuilding
312 rows
K = 92 , COMPANY_NAME: 1084_yapstone_yapstone
259 rows
K = 93 , COMPANY_NAME: 1085_modells_modells
312 rows
K = 94 , COMPANY_NAME: 1086_grammarly_grammarly
312 rows
K = 95 , COMPANY_NAME: 1087_signet_piercing_pagoda
312 rows
K = 96 , COMPANY_NAME: 1088_wyndham_adjusted_super_8
312 rows
K = 97 , COMPANY_NAME: 1089_lubys_lubys_cafeteria
312 rows
K = 98 , COMPANY_NAME: 108_yum_pizza_hut_pizza_hut
312 rows
K = 99 , COMPANY_NAME: 1090_signet_adjusted_piercing_pagoda
312 rows
K = 100 , COMPANY_NAME: 1091_visionworks_visionworks
312 rows
K = 101 , COMPANY_NAME: 1092_mcgraw_hill_mcgraw_hill
312 rows
K = 102 , COMPANY_NAME: 1093_expressvpn_expressvpn
312 rows
K = 103 , COMPANY_NAME: 1094_foosacklys_foosacklys
312 rows
K = 104 , COMPANY_NAME: 1095_tcgplayer_tcgplayer
312 rows
K = 105 , COMPANY_NAME: 1096_the_joint_the_joint
312 rows
K = 106 , COMPANY_NAME: 1097_hbc_saks
312 rows
K = 107 , COMPANY_NAME: 1098_landrys_seafood_saltgrass
312 rows
K = 108 , COMPANY_NAME: 1099_diamler_ag_mercedes_benz_payments
312 rows
K = 109 , COMPANY_NAME: 109_panda_express_panda_express
312 rows
K = 110 , COMPANY_NAME: 1100_expedia_adjusted_hotwire_com
312 rows
K = 111 , COMPANY_NAME: 110_racetrac_racetrac
312 rows
K = 112 , COMPANY_NAME: 111_t_mobile_adjusted_t_mobile
312 rows
K = 113 , COMPANY_NAME: 112_papa_john_papa_john
312 rows
K = 114 , COMPANY_NAME: 113_grubhub_adjusted_grubhub_seamless
312 rows
K = 115 , COMPANY_NAME: 114_wakefern_shoprite
312 rows
K = 116 , COMPANY_NAME: 115_little_caesars_little_caesars
312 rows
K = 117 , COMPANY_NAME: 116_etsy_inc_hist_seller_fees_etsy_inc_hist_seller_fees
312 rows
K = 118 , COMPANY_NAME: 117_macy_adjusted_macy
312 rows
K = 119 , COMPANY_NAME: 118_royal_farms_royal_farms
312 rows
K = 120 , COMPANY_NAME: 119_wegmans_wegmans
312 rows
K = 121 , COMPANY_NAME: 11_apple_itunes
311 rows
K = 122 , COMPANY_NAME: 120_aramark_aramark
312 rows
K = 123 , COMPANY_NAME: 121_etsy_adjusted_etsy
312 rows
K = 124 , COMPANY_NAME: 122_autozone_autozone
312 rows
K = 125 , COMPANY_NAME: 123_gap_adjusted_old_navy
312 rows
K = 126 , COMPANY_NAME: 124_michaels_adjusted_michaels
312 rows
K = 127 , COMPANY_NAME: 125_tjx_adjusted_marshalls
312 rows
K = 128 , COMPANY_NAME: 126_marmaxx_adjusted_marshalls
312 rows
K = 129 , COMPANY_NAME: 127_amazon_adjusted_kindle
312 rows
K = 130 , COMPANY_NAME: 128_amazon_ex_whole_foods_adjusted_kindle
312 rows
K = 131 , COMPANY_NAME: 129_geico_geico
312 rows
K = 132 , COMPANY_NAME: 12_target_adjusted_target
311 rows
K = 133 , COMPANY_NAME: 130_redbox_redbox
312 rows
K = 134 , COMPANY_NAME: 131_bww_adjusted_bww
312 rows
K = 135 , COMPANY_NAME: 132_caseys_general_store_adjusted_caseys_general_store
312 rows
K = 136 , COMPANY_NAME: 133_state_farm_state_farm
312 rows
K = 137 , COMPANY_NAME: 134_hobby_lobby_hobby_lobby
312 rows
K = 138 , COMPANY_NAME: 135_ross_ross
312 rows
K = 139 , COMPANY_NAME: 136_dicks_dicks
312 rows
K = 140 , COMPANY_NAME: 137_loves_loves
312 rows
K = 141 , COMPANY_NAME: 138_apple_apple_pay_cash
301 rows
K = 142 , COMPANY_NAME: 139_whataburger_whataburger
312 rows
K = 143 , COMPANY_NAME: 13_royal_dutch_shell_shell
311 rows
K = 144 , COMPANY_NAME: 140_amazon_ex_whole_foods_adjusted_audible
312 rows
K = 145 , COMPANY_NAME: 141_amazon_adjusted_audible
312 rows
K = 146 , COMPANY_NAME: 142_sprint_adjusted_sprint
312 rows
K = 147 , COMPANY_NAME: 143_zaxbys_zaxbys
312 rows
K = 148 , COMPANY_NAME: 144_progressive_progressive
312 rows
K = 149 , COMPANY_NAME: 145_jcpenney_jcpenney
312 rows
K = 150 , COMPANY_NAME: 146_alliance_data_comenity
312 rows
K = 151 , COMPANY_NAME: 147_ulta_ulta
312 rows
K = 152 , COMPANY_NAME: 148_barnes_noble_adjusted_barnes_noble
312 rows
K = 153 , COMPANY_NAME: 149_weis_markets_weis_markets
312 rows
K = 154 , COMPANY_NAME: 150_bath_body_works_bath_body_works
312 rows
K = 155 , COMPANY_NAME: 151_carls_jr_hardees
312 rows
K = 156 , COMPANY_NAME: 152_petco_petco
312 rows
K = 157 , COMPANY_NAME: 153_thorntons_thorntons
312 rows
K = 158 , COMPANY_NAME: 154_valve_steam_games
312 rows
K = 159 , COMPANY_NAME: 155_bojangles_bojangles
312 rows
K = 160 , COMPANY_NAME: 156_siriusxm_siriusxm
312 rows
K = 161 , COMPANY_NAME: 157_amc_entertainment_adjusted_amc
312 rows
K = 162 , COMPANY_NAME: 158_five_guys_five_guys
312 rows
K = 163 , COMPANY_NAME: 159_tractor_supply_adjusted_tractor_supply
312 rows
K = 164 , COMPANY_NAME: 15_starbucks_adjusted_starbucks
311 rows
K = 165 , COMPANY_NAME: 160_dineequity_applebee
312 rows
K = 166 , COMPANY_NAME: 161_brinker_chili
312 rows
K = 167 , COMPANY_NAME: 162_advance_auto_adjusted_advance_auto
312 rows
K = 168 , COMPANY_NAME: 163_albertsons_adjusted_albertsons
312 rows
K = 169 , COMPANY_NAME: 164_unemployment_benefits_unemployment_benefits
312 rows
K = 170 , COMPANY_NAME: 165_kwik_trip_kwik_trip
312 rows
K = 171 , COMPANY_NAME: 166_southeastern_grocers_winn_dixie
312 rows
K = 172 , COMPANY_NAME: 167_kroger_adjusted_fred_meyer
312 rows
K = 173 , COMPANY_NAME: 168_dineequity_ihop
312 rows
K = 174 , COMPANY_NAME: 169_robinhood_robinhood
312 rows
K = 175 , COMPANY_NAME: 170_ez_pass_ez_pass
312 rows
K = 176 , COMPANY_NAME: 171_afterpay_afterpay
188 rows
K = 177 , COMPANY_NAME: 172_goodwill_goodwill
312 rows
K = 178 , COMPANY_NAME: 173_disney_disney
312 rows
K = 179 , COMPANY_NAME: 174_bed_bath_adjusted_bed_bath
312 rows
K = 180 , COMPANY_NAME: 175_albertsons_adjusted_jewel_osco
312 rows
K = 181 , COMPANY_NAME: 176_kroger_ex_fuel_adjusted_king_sooper
312 rows
K = 182 , COMPANY_NAME: 177_digit_co_digit_co
312 rows
K = 183 , COMPANY_NAME: 178_kroger_adjusted_king_sooper
312 rows
K = 184 , COMPANY_NAME: 179_ace_hardware_ace_hardware
312 rows
K = 185 , COMPANY_NAME: 180_arco_arco
312 rows
K = 186 , COMPANY_NAME: 181_five_below_five_below
312 rows
K = 187 , COMPANY_NAME: 182_culvers_culvers
312 rows
K = 188 , COMPANY_NAME: 183_oreilly_auto_adjusted_oreilly_auto
312 rows
K = 189 , COMPANY_NAME: 184_jersey_mikes_jersey_mikes
312 rows
K = 190 , COMPANY_NAME: 185_jackinthebox_jackinthebox
312 rows
K = 191 , COMPANY_NAME: 186_experian_experian
312 rows
K = 192 , COMPANY_NAME: 187_cracker_barrel_adjusted_cracker_barrel
312 rows
K = 193 , COMPANY_NAME: 188_darden_adjusted_olive_garden
312 rows
K = 194 , COMPANY_NAME: 189_great_clips_great_clips
312 rows
K = 195 , COMPANY_NAME: 190_couche_tard_adjusted_corner_store
234 rows
K = 196 , COMPANY_NAME: 191_phillips_66_phillips_66
312 rows
K = 197 , COMPANY_NAME: 192_irs_payments_adjusted_irs_payments
312 rows
K = 198 , COMPANY_NAME: 193_instacart_adjusted_instacart_transaction
312 rows
K = 199 , COMPANY_NAME: 194_raising_canes_raising_canes
312 rows
K = 200 , COMPANY_NAME: 195_gamestop_gamestop
312 rows
K = 201 , COMPANY_NAME: 196_kroger_ex_fuel_adjusted_fred_meyer
312 rows
K = 202 , COMPANY_NAME: 197_big_lots_big_lots
312 rows
K = 203 , COMPANY_NAME: 198_regal_adjusted_regal_cinemas
312 rows
K = 204 , COMPANY_NAME: 199_staples_staples
312 rows
K = 205 , COMPANY_NAME: 200_kroger_adjusted_frys
312 rows
K = 206 , COMPANY_NAME: 201_qxh_adjusted_qvc
312 rows
K = 207 , COMPANY_NAME: 202_united_dairy_farmers_united_dairy_farmers
312 rows
K = 208 , COMPANY_NAME: 203_albertsons_adjusted_acme
312 rows
K = 209 , COMPANY_NAME: 204_cookout_cookout
312 rows
K = 210 , COMPANY_NAME: 205_sprouts_sprouts
312 rows
K = 211 , COMPANY_NAME: 206_ups_ups
312 rows
K = 212 , COMPANY_NAME: 207_menards_menards
312 rows
K = 213 , COMPANY_NAME: 208_chewy_adjusted_chewy
312 rows
K = 214 , COMPANY_NAME: 209_waffle_house_waffle_house
312 rows
K = 215 , COMPANY_NAME: 20_square_gpv_adjusted_square
311 rows
K = 216 , COMPANY_NAME: 210_ahold_delhaize_adjusted_stopandshop
312 rows
K = 217 , COMPANY_NAME: 211_hyvee_hyvee
312 rows
K = 218 , COMPANY_NAME: 212_facebook_adjusted_facebook_other
312 rows
K = 219 , COMPANY_NAME: 213_petsmart_adjusted_chewy
238 rows
K = 220 , COMPANY_NAME: 214_qdoba_qdoba
312 rows
K = 221 , COMPANY_NAME: 215_youtube_youtube
312 rows
K = 222 , COMPANY_NAME: 216_tropical_smoothie_tropical_smoothie
312 rows
K = 223 , COMPANY_NAME: 217_ingles_ingles
312 rows
K = 224 , COMPANY_NAME: 218_american_airlines_american_airlines
312 rows
K = 225 , COMPANY_NAME: 219_victorias_secret_victorias_secret
312 rows
K = 226 , COMPANY_NAME: 21_square_square_cash
311 rows
K = 227 , COMPANY_NAME: 220_groupon_adjusted_groupon
312 rows
K = 228 , COMPANY_NAME: 221_olo_com_olo_com
312 rows
K = 229 , COMPANY_NAME: 222_texas_roadhouse_texas_roadhouse
312 rows
K = 230 , COMPANY_NAME: 223_kroger_ex_fuel_adjusted_frys
312 rows
K = 231 , COMPANY_NAME: 224_onlyfans_onlyfans
284 rows
K = 232 , COMPANY_NAME: 225_duke_energy_duke_energy
312 rows
K = 233 , COMPANY_NAME: 226_uber_driver_pay_adjusted_uber_driver_pay
312 rows
K = 234 , COMPANY_NAME: 227_coinbase_coinbase
312 rows
K = 235 , COMPANY_NAME: 228_cinemark_adjusted_cinemark
312 rows
K = 236 , COMPANY_NAME: 22_dunkin_adjusted_dunkin
311 rows
K = 237 , COMPANY_NAME: 230_american_eagle_adjusted_american_eagle
312 rows
K = 238 , COMPANY_NAME: 231_disney_disney_plus
162 rows
K = 239 , COMPANY_NAME: 232_restaurant_brands_tim_hortons
312 rows
K = 240 , COMPANY_NAME: 233_joann_joann
312 rows
K = 241 , COMPANY_NAME: 234_allstate_allstate
312 rows
K = 242 , COMPANY_NAME: 235_auntie_annes_auntie_annes
312 rows
K = 243 , COMPANY_NAME: 236_parkmobile_parkmobile
312 rows
K = 244 , COMPANY_NAME: 237_academy_sports_academy_sports
312 rows
K = 245 , COMPANY_NAME: 238_affirm_affirm
312 rows
K = 246 , COMPANY_NAME: 239_nintendo_nintendo
312 rows
K = 247 , COMPANY_NAME: 23_7_eleven_adjusted_7_eleven
311 rows
K = 248 , COMPANY_NAME: 240_biglari_holdings_steak_shake
312 rows
K = 249 , COMPANY_NAME: 241_tjx_adjusted_home_goods
312 rows
K = 250 , COMPANY_NAME: 242_home_goods_adjusted_home_goods
312 rows
K = 251 , COMPANY_NAME: 243_qrtea_adjusted_qvc
207 rows
K = 252 , COMPANY_NAME: 244_bjs_wholesale_bjs_wholesale
312 rows
K = 253 , COMPANY_NAME: 245_smoothie_king_smoothie_king
312 rows
K = 254 , COMPANY_NAME: 246_restaurant_brands_firehouse_subs
312 rows
K = 255 , COMPANY_NAME: 247_burlington_burlington
312 rows
K = 256 , COMPANY_NAME: 248_adobe_adobe
312 rows
K = 257 , COMPANY_NAME: 249_att_directv
312 rows
K = 258 , COMPANY_NAME: 24_walgreens_walgreens
311 rows
K = 259 , COMPANY_NAME: 250_amazon_music_amazon_music
266 rows
K = 260 , COMPANY_NAME: 251_ymca_ymca
312 rows
K = 261 , COMPANY_NAME: 252_quickchek_quickchek
312 rows
K = 262 , COMPANY_NAME: 253_postmates_adjusted_postmates
312 rows
K = 263 , COMPANY_NAME: 254_kum_and_go_kum_and_go
312 rows
K = 264 , COMPANY_NAME: 255_h_m_h_m
312 rows
K = 265 , COMPANY_NAME: 256_kroger_adjusted_smiths
312 rows
K = 266 , COMPANY_NAME: 257_wish_com_wish_com
312 rows
K = 267 , COMPANY_NAME: 258_moes_southwest_grill_moes_southwest_grill
312 rows
K = 268 , COMPANY_NAME: 259_eg_group_adjusted_turkey_hill
192 rows
K = 269 , COMPANY_NAME: 25_walgreens_adjusted_walgreens
311 rows
K = 270 , COMPANY_NAME: 260_party_city_adjusted_party_city
312 rows
K = 271 , COMPANY_NAME: 261_sally_beauty_sally_beauty
312 rows
K = 272 , COMPANY_NAME: 262_facebook_adjusted_facebook_p2p
312 rows
K = 273 , COMPANY_NAME: 263_xbox_xbox_live_gold
312 rows
K = 274 , COMPANY_NAME: 264_cumberland_farms_cumberland_farms
312 rows
K = 275 , COMPANY_NAME: 265_cox_communications_cox_communications
312 rows
K = 276 , COMPANY_NAME: 266_lvmh_sephora
312 rows
K = 277 , COMPANY_NAME: 267_irs_payments_adjusted_stimulus_payouts
88 rows
K = 278 , COMPANY_NAME: 268_adt_adt
312 rows
K = 279 , COMPANY_NAME: 269_klarna_klarna
312 rows
K = 280 , COMPANY_NAME: 26_uber_adjusted_uber
311 rows
K = 281 , COMPANY_NAME: 270_conoco_conoco
312 rows
K = 282 , COMPANY_NAME: 271_harbor_freight_harbor_freight
312 rows
K = 283 , COMPANY_NAME: 272_ikea_ikea
312 rows
K = 284 , COMPANY_NAME: 273_dennys_dennys
312 rows
K = 285 , COMPANY_NAME: 274_red_robin_red_robin
312 rows
K = 286 , COMPANY_NAME: 275_forever_21_forever_21
312 rows
K = 287 , COMPANY_NAME: 276_kroger_ex_fuel_adjusted_smiths
312 rows
K = 288 , COMPANY_NAME: 277_gnc_adjusted_gnc
312 rows
K = 289 , COMPANY_NAME: 278_activehours_earnin
216 rows
K = 290 , COMPANY_NAME: 279_fedex_fedex
312 rows
K = 291 , COMPANY_NAME: 27_wawa_wawa
311 rows
K = 292 , COMPANY_NAME: 280_stashinvest_stashinvest
312 rows
K = 293 , COMPANY_NAME: 281_nordstrom_segment_adjusted_nordstrom_full_price
312 rows
K = 294 , COMPANY_NAME: 282_airbnb_adjusted_airbnb
312 rows
K = 295 , COMPANY_NAME: 283_in_n_out_burger_in_n_out_burger
312 rows
K = 296 , COMPANY_NAME: 284_fandango_fandango
312 rows
K = 297 , COMPANY_NAME: 285_wingstop_wingstop
312 rows
K = 298 , COMPANY_NAME: 286_mapco_mapco
312 rows
K = 299 , COMPANY_NAME: 287_buc_ees_buc_ees
312 rows
K = 300 , COMPANY_NAME: 288_roku_roku
312 rows
K = 301 , COMPANY_NAME: 289_maverik_maverik
312 rows
K = 302 , COMPANY_NAME: 290_gap_adjusted_gap
312 rows
K = 303 , COMPANY_NAME: 291_delta_airlines_delta_airlines
312 rows
K = 304 , COMPANY_NAME: 292_sport_clips_sport_clips
312 rows
K = 305 , COMPANY_NAME: 293_total_wine_and_more_total_wine_and_more
312 rows
K = 306 , COMPANY_NAME: 294_levelup_levelup
312 rows
K = 307 , COMPANY_NAME: 295_bloomin_brands_outback
312 rows
K = 308 , COMPANY_NAME: 296_united_continental_united_airlines
312 rows
K = 309 , COMPANY_NAME: 297_fresh_market_fresh_market
312 rows
K = 310 , COMPANY_NAME: 298_krispy_kreme_krispy_kreme
312 rows
K = 311 , COMPANY_NAME: 299_southwest_southwest
312 rows
K = 312 , COMPANY_NAME: 300_lowes_food_lowes_food
312 rows
K = 313 , COMPANY_NAME: 301_schnucks_schnucks
312 rows
K = 314 , COMPANY_NAME: 302_amerco_uhaul
312 rows
K = 315 , COMPANY_NAME: 303_enterprise_enterprise
312 rows
K = 316 , COMPANY_NAME: 304_noodles_noodles
312 rows
K = 317 , COMPANY_NAME: 305_office_depot_office_depot
312 rows
K = 318 , COMPANY_NAME: 306_ez_pass_sunpass
312 rows
K = 319 , COMPANY_NAME: 307_save_a_lot_save_a_lot
312 rows
K = 320 , COMPANY_NAME: 308_mcalisters_mcalisters
312 rows
K = 321 , COMPANY_NAME: 309_winco_foods_winco_foods
312 rows
K = 322 , COMPANY_NAME: 310_designer_brands_adjusted_dsw
312 rows
K = 323 , COMPANY_NAME: 311_valero_valero
312 rows
K = 324 , COMPANY_NAME: 312_albertsons_adjusted_vons
312 rows
K = 325 , COMPANY_NAME: 313_piggly_wiggly_piggly_wiggly
312 rows
K = 326 , COMPANY_NAME: 314_gulf_oil_gulf_oil
312 rows
K = 327 , COMPANY_NAME: 315_cheesecake_adjusted_cheesecake
312 rows
K = 328 , COMPANY_NAME: 316_chevron_texaco
312 rows
K = 329 , COMPANY_NAME: 317_sears_sears
312 rows

In [7]:
### sanity check
total_df = pd.concat(data_df_list).reset_index(drop=True)
print(total_df.groupby(['merchant_index'])['merchant_index'].count())
total_df

merchant_index
100     177
101     177
102     177
103     177
104     177
       ...
1086    177
1087    177
1088    177
1089    177
1090    177
Name: merchant_index, Length: 100, dtype: int64

component,acq_week,N_week_cohort,initial_order,initial_order_per_cust,initial_spend,initial_aov,orders,orders_per_cust,spend,aov,year,holidays,weekofyear,linear,linear_1,merchant_index,merchant,category,subcategory
0,2017-03-12,534.0,534.0,1.0,2788.401,5.221725,931.0,1.743446,4827.361,5.185135,0.0,0.0,10.0,0.000000,0.000000,1000,jam_city_inc,Home Entertainment,Gaming
1,2017-03-19,419.0,419.0,1.0,1742.820,4.159475,635.0,1.515513,2590.120,4.078929,0.0,0.0,11.0,0.006494,0.000042,1000,jam_city_inc,Home Entertainment,Gaming
2,2017-03-26,203.0,203.0,1.0,1044.471,5.145177,320.0,1.576355,1505.301,4.704066,0.0,0.0,12.0,0.012987,0.000169,1000,jam_city_inc,Home Entertainment,Gaming
3,2017-04-02,182.0,182.0,1.0,685.540,3.766703,272.0,1.494505,1125.640,4.138382,0.0,0.0,13.0,0.019481,0.000379,1000,jam_city_inc,Home Entertainment,Gaming
4,2017-04-09,118.0,118.0,1.0,457.820,3.879831,156.0,1.322034,652.440,4.182308,0.0,0.0,14.0,0.025974,0.000675,1000,jam_city_inc,Home Entertainment,Gaming
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17437,2020-01-26,405.0,405.0,1.0,29391.245,72.570975,415.0,1.024691,29971.675,72.220904,1.0,0.0,4.0,0.977273,0.955062,1090,piercing_pagoda,Apparel & Accessories,Jewelry & Watches
17438,2020-02-02,451.0,451.0,1.0,32238.135,71.481452,461.0,1.022173,33040.795,71.672007,1.0,0.0,5.0,0.982955,0.966200,1090,piercing_pagoda,Apparel & Accessories,Jewelry & Watches
17439,2020-02-09,635.0,635.0,1.0,51340.315,80.850890,654.0,1.029921,52836.305,80.789457,1.0,0.0,6.0,0.988636,0.977402,1090,piercing_pagoda,Apparel & Accessories,Jewelry & Watches
17440,2020-02-16,590.0,590.0,1.0,39305.815,66.620025,602.0,1.020339,39840.125,66.179610,1.0,0.0,7.0,0.994318,0.988669,1090,piercing_pagoda,Apparel & Accessories,Jewelry & Watches
17441,2020-02-23,503.0,503.0,1.0,39521.875,78.572316,517.0,1.027833,40554.075,78.441151,1.0,0.0,8.0,1.000000,1.000000,1090,piercing_pagoda,Apparel & Accessories,Jewelry & Watches

In [9]:
### why 177 rows
total_df[total_df['merchant_index']==99]

component,acq_week,N_week_cohort,initial_order,initial_order_per_cust,initial_spend,initial_aov,orders,orders_per_cust,spend,aov,year,holidays,weekofyear,linear,linear_1,merchant_index,merchant,category,subcategory
185116,2016-10-09,1769.0,1769.0,1.0,82120.0025,46.421709,2006.0,1.133974,89787.2925,44.759368,0.0,0.0,40.0,0.000000,0.000000,99,giant_carlisle,Grocers,Supermarkets
185117,2016-10-16,1718.0,1718.0,1.0,69498.2325,40.452987,1998.0,1.162980,80214.1500,40.147222,0.0,0.0,41.0,0.005682,0.000032,99,giant_carlisle,Grocers,Supermarkets
185118,2016-10-23,1616.0,1616.0,1.0,66779.4225,41.323900,1872.0,1.158416,76603.8000,40.920833,0.0,0.0,42.0,0.011364,0.000129,99,giant_carlisle,Grocers,Supermarkets
185119,2016-10-30,1546.0,1546.0,1.0,66481.5400,43.002290,1748.0,1.130660,72643.5000,41.558066,0.0,0.0,43.0,0.017045,0.000291,99,giant_carlisle,Grocers,Supermarkets
185120,2016-11-06,1642.0,1642.0,1.0,64692.1375,39.398379,1859.0,1.132156,71081.6275,38.236486,0.0,0.0,44.0,0.022727,0.000517,99,giant_carlisle,Grocers,Supermarkets
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185288,2020-01-26,416.0,416.0,1.0,25152.6050,60.462993,455.0,1.093750,26612.8150,58.489703,1.0,0.0,4.0,0.977273,0.955062,99,giant_carlisle,Grocers,Supermarkets
185289,2020-02-02,412.0,412.0,1.0,16633.9875,40.373756,460.0,1.116505,24246.5000,52.709783,1.0,0.0,5.0,0.982955,0.966200,99,giant_carlisle,Grocers,Supermarkets
185290,2020-02-09,431.0,431.0,1.0,15475.4175,35.905841,478.0,1.109049,17257.9075,36.104409,1.0,0.0,6.0,0.988636,0.977402,99,giant_carlisle,Grocers,Supermarkets
185291,2020-02-16,472.0,472.0,1.0,21682.0825,45.936615,530.0,1.122881,23671.3225,44.662873,1.0,0.0,7.0,0.994318,0.988669,99,giant_carlisle,Grocers,Supermarkets
185292,2020-02-23,411.0,411.0,1.0,26675.3125,64.903437,441.0,1.072993,27608.8225,62.605040,1.0,0.0,8.0,1.000000,1.000000,99,giant_carlisle,Grocers,Supermarkets

In [7]:
## sanity check

K = 277 # COMPANY_NAME: 267_irs_payments_adjusted_stimulus_payouts
# this company is dropped because it starts after the end of period

## choose company
COMPANY_NAME = os.path.splitext(os.path.split(filelist[K])[1])[0][:-len('_cohort')]
FILEPATH = os.path.splitext(os.path.split(filelist[K])[1])[0] + '.csv'
print('K =', K, ', COMPANY_NAME:', COMPANY_NAME)

## read company
COL_NAMES_TO_READ = ['acq_week', # group identifier
                'week', 'tenure', # time identifier
            #  'spend', # target
                'N_week_cohort', 'acq_quarter', 'merchant_index', 'merchant'] 

raw_df = pd.read_csv(f'{READ_DIR}/{FILEPATH}') 
                # usecols=COL_NAMES_TO_READ)[COL_NAMES_TO_READ]

raw_df=raw_df[raw_df['tenure']==0] # pick one obs per each acq_week
print(raw_df.shape[0], 'rows')
raw_df.sort_values('acq_week')

K = 277 , COMPANY_NAME: 267_irs_payments_adjusted_stimulus_payouts
88 rows

,acq_week,week,tenure,acq_quarter,merchant_index,merchant,parent_merchant,category,subcategory,N_week_cohort,active_users,orders,rpt_orders,spend,rpt_spend,initial_order,initial_spend,initial_aov
0,2020-04-05,2020-04-05,0,2020-04-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,190,190,191,1,4.221000e+05,2200.0,190,4.199000e+05,2210.000000
88,2020-04-12,2020-04-12,0,2020-04-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,1258432,1258432,1296899,38467,2.813221e+09,73419800.0,1258432,2.739801e+09,2177.154507
175,2020-04-19,2020-04-19,0,2020-04-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,18279,18279,18349,70,3.378490e+07,121800.0,18279,3.366310e+07,1841.627004
261,2020-04-26,2020-04-26,0,2020-04-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,95657,95657,96399,742,1.828341e+08,1330700.0,95657,1.815034e+08,1897.439811
346,2020-05-03,2020-05-03,0,2020-04-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,49210,49210,49306,96,1.127640e+08,174000.0,49210,1.125900e+08,2287.949604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,2021-11-07,2021-11-07,0,2021-10-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,449,449,449,0,1.315261e+06,0.0,449,1.315261e+06,2929.312405
3906,2021-11-14,2021-11-14,0,2021-10-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,191,191,192,1,5.372639e+05,1400.0,191,5.358639e+05,2805.570262
3910,2021-11-21,2021-11-21,0,2021-10-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,141,141,141,0,4.484992e+05,0.0,141,4.484992e+05,3180.845390
3913,2021-11-28,2021-11-28,0,2021-10-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,254,254,254,0,7.050901e+05,0.0,254,7.050901e+05,2775.945354
3915,2021-12-05,2021-12-05,0,2021-10-01,267,stimulus_payouts,irs_payments_adjusted,Finance,Money Transfer,112,112,112,0,2.975146e+05,0.0,112,2.975146e+05,2656.380000

In [11]:
## sanity check

K = 369 # COMPANY_NAME: 353_kroger_ex_fuel_adjusted_turkey_hill
# this company is dropped because it has no data in prediction period

## choose company
COMPANY_NAME = os.path.splitext(os.path.split(filelist[K])[1])[0][:-len('_cohort')]
FILEPATH = os.path.splitext(os.path.split(filelist[K])[1])[0] + '.csv'
print('K =', K, ', COMPANY_NAME:', COMPANY_NAME)

## read company
COL_NAMES_TO_READ = ['acq_week', # group identifier
                'week', 'tenure', # time identifier
            #  'spend', # target
                'N_week_cohort', 'acq_quarter', 'merchant_index', 'merchant'] 

raw_df = pd.read_csv(f'{READ_DIR}/{FILEPATH}') 
                # usecols=COL_NAMES_TO_READ)[COL_NAMES_TO_READ]

raw_df=raw_df[raw_df['tenure']==0] # pick one obs per each acq_week
print(raw_df.shape[0], 'rows')
raw_df.sort_values('acq_week')

K = 369 , COMPANY_NAME: 353_kroger_ex_fuel_adjusted_turkey_hill
121 rows

,acq_week,week,tenure,acq_quarter,merchant_index,merchant,parent_merchant,category,subcategory,N_week_cohort,active_users,orders,rpt_orders,spend,rpt_spend
0,2015-12-27,2015-12-27,0,2015-10-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,5688,5688,7237,1549,148601.19,26159.36
121,2016-01-03,2016-01-03,0,2016-01-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,10505,10505,16045,5540,346715.25,104244.56
241,2016-01-10,2016-01-10,0,2016-01-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,5872,5872,7472,1600,150998.60,28063.58
360,2016-01-17,2016-01-17,0,2016-01-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,3921,3921,4787,866,86976.57,14175.15
478,2016-01-24,2016-01-24,0,2016-01-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,2686,2686,3154,468,57607.15,8856.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7366,2018-03-18,2018-03-18,0,2018-01-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,461,461,508,47,11984.66,785.77
7371,2018-03-25,2018-03-25,0,2018-01-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,524,524,586,62,15825.21,1227.40
7375,2018-04-01,2018-04-01,0,2018-04-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,510,510,585,75,14377.47,1152.73
7378,2018-04-08,2018-04-08,0,2018-04-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,408,408,452,44,12720.26,655.34
7380,2018-04-15,2018-04-15,0,2018-04-01,353,turkey_hill,kroger_ex_fuel_adjusted,Grocers,Specialty Grocers,294,294,320,26,7360.64,504.75

In [4]:
READ_DIR

'/home/jhan405/cbcv/tft_google_ver4/jianlin-tft/data/weekly_cohort_data_1000'

In [4]:
import pandas as pd
raw_df = pd.read_csv('/home/jhan405/cbcv/tft_google_ver4/jianlin-tft/data/preprocessed_data/tft_google/company_0_100_acq_initaov.csv') 
# raw_df = raw_df.drop(columns = ['Unnamed: 0'])
raw_df = raw_df.drop(columns = ['V1'])
raw_df = raw_df.sort_values(['merchant_index', 'acq_week'])

raw_df[['aov', 'initial_aov']] = raw_df[['aov', 'initial_aov']].fillna(method = 'ffill') # propagate non-null values forward
raw_df
# raw_df.to_csv('/home/jhan405/cbcv/tft_google_ver4/jianlin-tft/data/preprocessed_data/tft_google/company_0_100_acq_initaov.csv')

In [5]:
import pandas as pd
raw_df = pd.read_csv('/home/jhan405/cbcv/tft_google_ver4/jianlin-tft/data/preprocessed_data/tft_google/company_0_1000_acq_initaov.csv') 
raw_df = raw_df.drop(columns = ['Unnamed: 0'])
# raw_df = raw_df.drop(columns = ['V1'])
raw_df = raw_df.sort_values(['merchant_index', 'acq_week'])

raw_df[['aov', 'initial_aov']] = raw_df[['aov', 'initial_aov']].fillna(method = 'ffill') # propagate non-null values forward
raw_df
# raw_df.to_csv('/home/jhan405/cbcv/tft_google_ver4/jianlin-tft/data/preprocessed_data/tft_google/company_0_1000_acq_initaov.csv')